@use "../../utils/variables" as *;

/* BLOG BLOCK */
.blog {
  &__title {
    color: $black-333-short;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;

    max-width: 1240px;
    margin: 0 auto;
    width: 100%;

    @media (min-width: 768px) {
      font-size: 40px;
    }

    &--purple {
      color: $purple-text-color;
    }
  }
}


/* MAIN ARTICLE SECTION BLOCK */
.block-main-article-section {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: #FFF;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 83.01%, #FFF 100%), radial-gradient(50% 50% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0) 100%), url("/images/landing/professional-ai-estimation-generator.png") 50%/cover no-repeat, #FAFCFF;

  width: 100%;
  margin: 0 auto;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;

  gap: 20px;

  @media (min-width: 640px) {
    padding: 40px 20px 20px 20px;
  }

  @media (min-width: 768px) {
    padding: 50px 20px 40px 20px;
    gap: 30px;
  }

  @media (min-width: 1024px) {
    padding: 60px 100px 80px 100px;
    gap: 40px;
  }

  &__wrapper {
    display: flex;
    min-height: 460px;
    padding: 8px 8px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 20px;

    max-width: 1240px;
    margin: 0 auto;

    border-radius: 16px;
    //  border: 1px solid $border-white-soft;
    box-shadow: $shadow-soft-hex;
    border: 1px solid $border-light;

    background: #FFF;

    @media (min-width: 375px) {
      padding: 20px 20px 20px 20px;
    }

    @media (min-width: 768px) {
      gap: 24px;
    }

    @media (min-width: 1024px) {
      gap: 48px;
      padding: 24px 24px 24px 56px;
    }
  }

  &__content {

  }

  &__tag-block {
  }

  &__title {
    color: $black-333-short;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;

    @media (min-width: 768px) {
      font-size: 32px;
    }
  }

  &__description {
    color: #666;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @media (min-width: 1024px) {
      font-size: 16px;
    }

  }

  &__read-more {
    color: var(--Text-text-accent, #73178A);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    gap: 24px;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 16px;
      height: 16px;
      border-radius: 8px;
    }

    svg {
      width: 20px;
      height: 20px;
      align-self: center;
    }

    svg path {
      stroke: #73178A;
    }
  }

  &__image-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 556px;
    margin-top: 24px;

    @media (min-width: 768px) {
      margin-top: 0px;
    }
  }

  &__image {
    img {
      width: 100%;
      height: auto;
      border-radius: 12px;
      display: block;
    }
  }
}

/* BLOCK ARTICLE LIST SECTION */
.block-article-list-section {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  background-color: $white;

  width: 100%;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 20px 20px 20px 20px;
  }

  @media (min-width: 1024px) {
    padding: 20px 60px 80px 60px;
  }

  @media (min-width: 1280px) {
    padding: 20px 100px 80px 100px;
  }

  &__wrapper {
    display: flex;
    min-height: 460px;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__content {
  }

  &__tag-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px 8px;
  }

  &__article-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 50px 10px;

    @media (min-width: 768px) {
      gap: 40px 20px;
    }

    @media (min-width: 1024px) {
      //  gap: 40px 20px;
    }

    @media (min-width: 1280px) {
      gap: 64px 32px;
    }
  }

  &__article-item {

  }
}

/* ARTICLE CARD */
.article-card {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;

  border-radius: 16px;
  //border: 1px solid $border-white-soft;
  box-shadow: $shadow-soft-hex;
  border: 1px solid $border-light;
  background: #FFF;

  &__meta {
  }

  &__image-wrapper {
    margin-bottom: 16px;
  }

  &__image {
    img {
      margin: auto;
      display: block;
      width: 100%;
      max-width: 500px;
      height: auto;
      border-radius: 8px;
    }
  }

  &__title {
    color: $black-333;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    overflow-wrap: break-word;
  }

  &__description {
    color: $text-muted;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    overflow-wrap: break-word;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-width: 1024px) {
      font-size: 15px;
    }

  }

  &__read-more {
    color: var(--Text-text-accent, #73178A);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    gap: 24px;

    @media (min-width: 375px) {
      font-size: 14px;
    }

    @media (min-width: 640px) {
      font-size: 16px;
    }

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 16px;
      height: 16px;
      border-radius: 8px;
    }

    svg {
      width: 20px;
      height: 20px;
      align-self: center;
    }

    svg path {
      stroke: #73178A;
    }
  }
}


/* ARTICLE PAGE */

.article-page {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;


  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 85%, #FFF 100%),
  url("/images/landing/professional-ai-estimation-generator.png") top center / contain no-repeat,
  #FAFCFF;

  background-color: #fff;

  @media (min-width: 640px) {
    padding: 40px 20px 10px 20px;
  }

  @media (min-width: 768px) {
    padding: 50px 20px 20px 20px;
  }

  @media (min-width: 1024px) {
    padding: 60px 100px 112px 100px;
  }

  &__container {
    width: 100%;
    justify-content: center;
    max-width: 1240px;
    margin: 0 auto;

    @media (min-width: 640px) {
      gap: 20px;
    }

    @media (min-width: 1280px) {
      gap: 80px;
    }
  }

  &__main {
    @media (min-width: 768px) {
    }
  }

  &__back {
    @media (min-width: 768px) {
    }
  }

  &__back-btn {
    display: flex;
    padding: 8px 16px 8px 8px;
    align-items: center;
    gap: 10px;
    width: fit-content;

    border-radius: 100px;
    border: 1px solid #F0BAFD;
    background: var(--Buttons-button-primary, #FFF);
    box-shadow: 0 5px 12px -7px rgba(157, 90, 186, 0.10);

    color: var(--Text-text-link, $purple-text-color);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */

    svg {
      width: 20px;
      height: 20px;
      align-self: center;
    }

    svg path {
      stroke: $purple-text-color;
    }

    @media (min-width: 768px) {
    }
  }

  &__sidebar {
    @media (min-width: 768px) {
    }
  }
}


/* ARTICLE (main content) */

.article {

  @media (min-width: 768px) {
  }

  &__header {
    @media (min-width: 768px) {
    }
  }

  &__title {
    color: $black-333-short;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */

    @media (min-width: 768px) {
    }
  }

  &__tag {
    color: $brand-accent;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */

    @media (min-width: 768px) {
    }
  }

  &__image {
    border-radius: 8px;

    max-width: 640px;

    @media (min-width: 768px) {
    }

    @media (min-width: 1024px) {

    }

    @media (min-width: 1280px) {
      max-width: 820px;
    }

  }

  &__content {
    @media (min-width: 768px) {
    }
  }
}


/* SIDEBAR BLOCK (More / Related posts) */

.sidebar-block {
  display: flex;
  width: 100%;
  min-width: 270px;
  padding: 0 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;


  @media (min-width: 1280px) {
    max-width: 340px;
    padding: 0px;
  }

  &--more-posts {
    color: var(--Text-text-light-primary, #391952);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 20.8px */

    @media (min-width: 768px) {
    }
  }

  &--related-posts {

    @media (min-width: 768px) {
    }
  }

  &__title {
    color: var(--Text-text-light-primary, #391952);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    max-width: 100%;

    @media (min-width: 768px) {
    }
  }
}


/* SIDEBAR POST */

.sidebar-post {
  max-width: 480px;

  @media (min-width: 640px) {
    max-width: 278px;
  }

  @media (min-width: 1280px) {
    padding-right: 40px;
    max-width: 280px;
  }

  &__image {
    border-radius: 4px;
    max-width: 480px;
  }

  &__title {
    overflow: hidden;
    color: $black-333-short;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 18.2px */
    @media (min-width: 768px) {
    }
  }

  &__tag {
    color: $brand-accent;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */

    height: 33px;

    @media (min-width: 768px) {
    }
  }
}


.prose-content {
  margin: 0 auto;
  color: #4a4a4a;
  line-height: 1.6;
  font-size: 16px;

  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 1.75;
  }

  /* HEADERS */
  h1, h2, h3, h4 {
    color: $black-333-short;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */


    margin-top: 24px;
    margin-bottom: 24px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 24px;
    }
  }

  /* PARAGRAPHS */
  p {
    color: #666;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */

    margin-bottom: 16px;
  }

  /* ACCENTED PARAGRAPHS */
  p strong,
  strong {
    color: $primary-color;

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
  }

  /* IMAGES */
  img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 32px 0 8px 0;
    display: block;
    max-width: 640px;

    @media (min-width: 1024px) {
    }

    @media (min-width: 1280px) {
      max-width: 820px;
    }

    @media (min-width: 1536px) {
      max-width: 100%;
    }

  }

  /* Image caption */
  .image-caption {
    color: $primary-color;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */

    padding-left: 8px;
    border-left: 2px solid $primary-color;


    margin-bottom: 32px;
  }

  /* BLOCKQUOTE */
  blockquote {
    margin: 32px 0;
    padding-left: 20px;

    border-left: 2px solid $primary-color;


    color: $primary-color;
    font-family: Inter;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px; /* 155.556% */

  }

  /* LISTS */
  ul, ol {
    margin: 1.5rem 0 1.5rem 1.7rem;
    padding: 0;
  }

  li {
    margin-bottom: 0.7rem;
  }

  /* LINKS */
  a {
    color: #4E3AFF;
    text-decoration: underline;
    font-weight: 500;

    &:hover {
      opacity: 0.8;
    }
  }
}