@use "../utils/variables" as *;

.adaptive-table-wrapper {
  display: flex;
 // padding: 0 12px 8px 12px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border: none;
  border-radius: 12px;


  @media (min-width: 768px) {
    padding: 0px;
    border: 1px solid $grey-color-light;
  }
}

.adaptive-table {
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: $fs-14;
  line-height: 20px;
  color: $black-333;

  width: 100%;

  // Desktop - table
  @media (min-width: 768px) {
    display: table;
    gap: 0;
    border-radius: 0;
    border: none;
    border-collapse: collapse;
    // border-top: 1px solid $grey-color-light;
  }

  &__header {
    border-bottom: 1px solid $grey-color-light;

    @media (min-width: 768px) {
      display: table-row;
    }
  }

  &__header--border-top {
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;

    @media (min-width: 768px) {
      display: table-row;
    }
  }

  &__th {
    font-weight: 500;
    font-size: $fs-14;
    line-height: 20px;
    color: $text-muted;
    padding: 18px 22px;
    text-align: left;

    @media (min-width: 768px) {
      display: table-cell;
      vertical-align: middle;
      border-bottom: none;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__row {
    // Mobile - block
    box-shadow: $shadow-soft-hex;
    border: 1px solid $grey-color-light;
    border-radius: 8px;
    overflow: visible;

    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    align-items: center;

    // Desktop - table-row
    @media (min-width: 768px) {
      display: table-row;
      border-radius: 0;
      box-shadow: none;
      border: none;
      border-bottom: 1px solid $grey-color-light;
      padding: 0;
    }

    > *:first-child {
      @media (min-width: 768px) {
        border-bottom: none;
        border: none;
        justify-content: left;
      }
    }

    &:last-child {
      @media (min-width: 768px) {
        border-bottom: none;
      }
    }
  }

  &__cell {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $black-333;
    position: relative;

    // Desktop - table-cell
    @media (min-width: 768px) {
      display: table-cell;
      vertical-align: middle;
      padding: 18px 22px;

      flex-basis: auto;
      width: auto;
      margin-left: 0 !important;
      border-bottom: none !important;
    }

    @media (max-width: 768px) {
      padding: 12px;

      &--full {
        flex-basis: 100%;
        padding: 12px 12px;
        border-bottom: 1px solid $grey-color-light;

        &.no-border {
          border-bottom: none;
        }
      }

      &--input {
        flex-basis: 100%;
        padding: 4px 8px;
        border-bottom: 1px solid $grey-color-light;

        &.no-border {
          border-bottom: none;
        }
      }

      &:nth-child(5) {
        margin-left: auto;
      }
    }
  }

  &__title {
   // display: flex;
    align-items: center;
    font-weight: 500;
    font-size: $fs-14;
    line-height: 20px;
    color: $black-333;
  }

  &__sub-title {
    font-weight: 400;
    font-size: $fs-12;
    line-height: 18px;
    color: $text-muted;
  }

  &__mobile-label {
    font-weight: 500;
    font-size: $fs-14;
    line-height: 20px;
    color: $text-muted;
  }

  &__field {
    width: 100%;
  }

  &__input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    @media (min-width: 768px) {
      margin: auto;
    }
  }

  &__input-icon {
    position: absolute;
    left: 12px;
    width: 16px;
    height: 16px;
    pointer-events: none;
  }

  &__input,
  &__select {
    width: 100%;
    padding: 0px 12px 0px 38px;
    font-family: "Inter", sans-serif;
    font-size: $fs-12;
    line-height: 14px;

    border-radius: 8px;
    border: 1px solid $border-soft-blue;
    background: $white;
    color: $black-333;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus {
      outline: none;
      border-color: #6366f1;
    }

    height: 40px;
    line-height: 38px;

    @media (min-width: 1280px) {
      height: 48px;
      line-height: 46px;
    }

  }

  &__select {
    padding: 0px 12px;
    gap: 12px;
    appearance: none;
    -webkit-appearance: none;
    background: url('/images/icons/arrow-dark-down-icon.svg') no-repeat right 12px center / 12px auto;
    font-weight: 500;
    font-size: $fs-14;
    color: $text-accent;

    height: 40px;
    line-height: 38px;
    
    @media (min-width: 1280px) {
      height: 48px;
      line-height: 46px;
    }
  }

  &__input:not(:placeholder-shown) {
  }

  &__amount {
    //display: flex;
    flex-direction: column;
    gap: 2px;

    &-label {
      color: $text-muted;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;
    }

    &-value {
      overflow: hidden;
      color: $text-muted;
      text-overflow: ellipsis;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;

      @media (min-width: 640px) {
        font-size: 14px;
        word-wrap: break-word;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: nowrap;
  }

  &__action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    width: 18px;
    height: 18px;
    padding: 0px;
    gap: 4px;

    @media (min-width: 640px) {
      width: 20px;
      height: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      background: #f3f4f6;
    }
  }
}