@use "../utils/variables" as *;

.bottom-navbar {
  position: fixed;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  width: calc(100vw - 16px);
  max-width: 480px;
  box-sizing: border-box;

  background: $white-bg;
  border-radius: 12px;
  padding: 8px 16px;

  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: $fs-14;
  line-height: 20px;
  color: $text-muted;
  box-shadow: $shadow-soft-hex;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-item {
      display: flex;

      a {
        display: flex;
      }

      &-button {
        width: 40px;
        height: 40px;

        &-active {
          background: $bg-purple-75;
          border-radius: 12px;
        }

        &-icon {
          width: 24px;
          height: 24px;
          display: flex;
          margin: auto;
        }

        img {
          width: 100%;
          height: 100%;
        }

      }
    }
  }

  &__list-item-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}