@use "../utils/variables" as *;

.btn {
  cursor: pointer;
  padding-top: 8px;
  padding-right: 26px;
  padding-bottom: 8px;
  padding-left: 26px;
  gap: 4px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;

  @media (min-width: 1024px) {
    font-size: 14px;
    padding-top: 9px;
    padding-right: 26px;
    padding-bottom: 9px;
    padding-left: 26px;
  }


  &__primary {
    background: linear-gradient(299.32deg, #7D55BE 16.39%, #63428D 81.05%);
    color: #FFFFFF;
    border: 1px solid #63428D;
    font-family: Inter;

    @media (min-width: 1024px) {
      line-height: 19px
    }
  }

  &__secondary {
    background: #F8F3FF;
    color: #7D55BE;
    border: 1px solid #63428D;

    @media (min-width: 1024px) {
      line-height: 19px
    }
  }

  &__tertiary {
    color: #202125;
    border: none;
  }

  &__play {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    padding-top: 6px;
    padding-right: 5px;
    padding-bottom: 6px;
    padding-left: 7px;
    border-radius: 18px;
    border-width: 1px;
  }

  &__read-more {
    border-radius: 10px;
    border-width: 1px;
    padding-top: 9px;
    padding-right: 18px;
    padding-bottom: 9px;
    padding-left: 18px;
    background: #F8F3FF;
    border: 1px solid #9A02DB40;

    font-weight: 500;
    color: #7D55BE;
  }

  &__prev {
    display: flex;
    width: 32px;
    height: 32px;
    gap: 10px;
    border-radius: 55px;
    border-width: 1px;
    background: #F7FAFF;
    border: 1px solid #F0F6FF;
    cursor: default;
    justify-content: center;
    align-items: center;
    padding: 0px;

    svg {
      width: 20px;
      height: 20px;
    }

    svg path {
      stroke: #808080;
    }

    &--active {
      background: linear-gradient(299.32deg, #7D55BE 16.39%, #63428D 81.05%);
      cursor: pointer;

      svg path {
        stroke: #FFFFFF;
      }
    }
  }

  &__next {
    display: flex;
    width: 32px;
    height: 32px;
    gap: 10px;
    border-radius: 55px;
    background: #F7FAFF;
    cursor: default;
    border: 1px solid #F0F6FF;
    justify-content: center;
    align-items: center;
    padding: 0px;

    svg {
      width: 20px;
      height: 20px;
    }

    svg path {
      stroke: #808080;
    }

    &--active {
      background: linear-gradient(299.32deg, #7D55BE 16.39%, #63428D 81.05%);
      cursor: pointer;

      svg path {
        stroke: #FFFFFF;
      }
    }
  }

  &__filter {
    width: 40px;
    height: 40px;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #E9EAEA;
    padding: 8px;
    background: #ffffff;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__cancel {
    padding: 8px;
    border-radius: 8px;
    background: #E5E5FF;

    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #676C76;

    @media (min-width: 1024px) {
      padding-top: 6px;
      padding-right: 16px;
      padding-bottom: 6px;
      padding-left: 16px;
    }
  }

  &__next-step {
    padding: 8px;
    border-radius: 8px;
    background: linear-gradient(299.32deg, #7D55BE 16.39%, #63428D 81.05%);
    border: none;

    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #FFFFFF;

    @media (min-width: 1024px) {
      padding-top: 6px;
      padding-right: 16px;
      padding-bottom: 6px;
      padding-left: 16px;

      border: 1px solid #63428D;
    }
  }

  &__green-add {
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    border-radius: 8px;

    border: 1px solid #1B9A8B;
    background: #F7FFFC;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #1B9A8B;

    @media (min-width: 1024px) {
      padding-top: 6px;
      padding-right: 12px;
      padding-bottom: 6px;
      padding-left: 12px;
      border-radius: 10px;
    }
  }

  &__black-green-add {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: linear-gradient(90deg, #1B9A8B 0%, #16B5A1 100%);

    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }


  &__next-main {
    display: flex;
    height: 40px;
    padding: 9px 26px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    border-radius: 10px;
    background: linear-gradient(299deg, #7D55BE 16.39%, #63428D 81.05%), linear-gradient(90deg, #1B9A8B 0%, #16B5A1 100%);
  }

  &__cancel-main {
    display: flex;
    height: 40px;
    padding: 9px 26px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 10px;
    background: #EBF3FA;

    color: #676C76;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  &__purple {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 8px;
    border: 1px solid #7D55BE;
    background: #F8F3FF;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    @media (min-width: 1024px) {
      display: flex;
      padding: 6px 12px;
      justify-content: center;
      align-items: center;
      gap: 4px;

      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }

    span {
      background: linear-gradient(299deg, #7D55BE 16.39%, #63428D 81.05%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.control-btn {
  align-items: center;
  align-content: center;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.065px;
  transition: 0.2s ease;
  height: 40px;
  max-height: 40px;

  @media (min-width: 640px) {
    font-size: 14px;
    letter-spacing: 0.07px;
  }

  img {
    width: 15px;
    height: 15px;
  }

  &--delete {
    color: #E15555;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid rgba(255, 97, 125, 0.20);
    background: #FFEFEA;

    @media (min-width: 640px) {

    }

    &:hover {
      color: #c94444;
    }
  }

  &--edit {
    color: #2D8CFF;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid rgba(45, 140, 255, 0.20);
    background: #EAF7FF;

    &:hover {
      color: #475569;
    }
  }

  &--copy {
    color: #7D55BE;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid rgba(125, 85, 190, 0.20);
    background: #F8F3FF;

    &:hover {
      color: #475569;
    }
  }

  &--export {
    color: #03B5C2;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid rgba(3, 181, 194, 0.20);
    background: #E2FBFB;

    &:hover {
      color: #475569;
    }
  }

  &--publish {
    color: #009499;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid rgba(0, 148, 153, 0.20);
    background: #E6F4F5;

    &:hover {
      color: #257645;
    }
  }

  &--more {
    padding: 4px;
  }
}

.btn-span-add {
  padding: 4px 8px 4px 4px;
  justify-content: center;
  align-items: center;
  gap: 2px;

  border-radius: 8px;
  border: 1px solid #E9EAEA;
  background: #F1E7F8;

  color: #7D55BE;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.06px;

  height: 28px;

  @media (min-width: 640px) {
    display: flex;
    padding: 6px 14px 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 12px;
    border: 1px solid #E9EAEA;
    background: #F1E7F8;

    color: #7D55BE;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.07px;
    height: 32px;
  }
}