@use "../utils/variables" as *;

.btn {
  cursor: pointer;
  padding-top: 8px;
  padding-right: 26px;
  padding-bottom: 8px;
  padding-left: 26px;
  gap: 4px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;

  transition: background-color 0.3s ease, color 0.3s ease;

  @media (min-width: 1024px) {
    font-size: 14px;
    padding-top: 9px;
    padding-right: 26px;
    padding-bottom: 9px;
    padding-left: 26px;
  }


  &__primary {
    background: $gradient-primary;
    color: $white;
    border: 1px solid $brand-accent;
    font-family: Inter;

    &:hover {
      background: $gradient-primary-hover;
    }

    @media (min-width: 1024px) {
      line-height: 19px
    }
  }

  &__secondary {
    background: $bg-purple-50;
    color: $purple-text-color;
    border: 1px solid $brand-accent;

    &:hover {
      background: #efe5ff;
    }

    @media (min-width: 1024px) {
      line-height: 19px
    }
  }

  &__tertiary {
    color: $text-dark;
    border: none;

    &:hover {
      color: #030305;
    }
  }

  &__play {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    padding-top: 6px;
    padding-right: 5px;
    padding-bottom: 6px;
    padding-left: 7px;
    border-radius: 18px;
    border-width: 1px;
  }

  &__read-more {
    border-radius: 10px;
    border-width: 1px;
    padding-top: 9px;
    padding-right: 18px;
    padding-bottom: 9px;
    padding-left: 18px;
    background: $bg-purple-50;
    border: 1px solid #9A02DB40;

    font-weight: 500;
    color: $purple-text-color;

    &:hover {
      background: #f0e7ff;
    }
  }

  &__sort {
    cursor: pointer;

    img {
      transition: filter .2s;
    }

    &:hover img {
      filter: brightness(0);
    }
  }

  &__prev,
  &__next {
    position: relative;
    overflow: hidden;
    border-radius: 55px;

    display: flex;
    width: 32px;
    height: 32px;
    gap: 10px;
    justify-content: center;
    align-items: center;

    background-color: $bg-blue-25;
    border: 1px solid $border-blue-50;
    cursor: default;
    padding: 0;

    transition: background-color .25s ease,
    border-color .25s ease;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: $gradient-primary;
      opacity: 0;
      transition: opacity .25s ease;
      z-index: 0;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: linear-gradient(299.32deg, #704ca8 16.39%, #543775 81.05%);
      opacity: 0;
      transition: opacity .25s ease;
      z-index: 0;
    }

    > * {
      position: relative;
      z-index: 1;
    }

    &:not(&--active):hover {
      background-color: $bg-blue-25;
    }

    svg {
      width: 20px;
      height: 20px;
    }

    svg path {
      stroke: #808080;
      transition: stroke .25s ease;
    }

    &--active {
      cursor: pointer;
      border-color: transparent;

      &::before {
        opacity: 1;
      }

      &:hover::after {
        opacity: 1;
      }

      svg path {
        stroke: #fff;
      }
    }
  }

  &__prev:hover {
    background-color: $bg-blue-25;
  }

  &__next:hover {
    background-color: $bg-blue-25;
  }

  &__filter {
    width: 40px;
    height: 40px;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid $grey-color-light;
    padding: 8px;
    background: $white-bg;

    &:hover {
      background: #fdf7f7;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__cancel {
    padding: 8px;
    border-radius: 8px;
    background: $border-purple-50;

    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: $fs-13;
    line-height: 150%;
    letter-spacing: 0px;
    color: $text-gray-600;

    &:hover {
      background: #e0e0f3;
    }

    @media (min-width: 1024px) {
      padding-top: 6px;
      padding-right: 16px;
      padding-bottom: 6px;
      padding-left: 16px;
    }
  }

  &__next-step {
    padding: 8px;
    border-radius: 8px;
    background: $gradient-primary;
    border: none;

    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: $fs-13;
    line-height: 150%;
    letter-spacing: 0px;
    color: $white;

    &:hover {
      background: linear-gradient(299.32deg, #784bc0 16.39%, #653891 81.05%);
    }

    @media (min-width: 1024px) {
      padding-top: 6px;
      padding-right: 16px;
      padding-bottom: 6px;
      padding-left: 16px;

      border: 1px solid $brand-accent;
    }
  }

  &__green-add {
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    border-radius: 8px;

    border: 1px solid $border-success-600;
    background: $bg-success-50;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: $fs-12;
    line-height: 150%;
    color: $border-success-600;

    &:hover {
      background: #ebfdf7;
    }

    @media (min-width: 1024px) {
      padding-top: 6px;
      padding-right: 12px;
      padding-bottom: 6px;
      padding-left: 12px;
      border-radius: 10px;
    }
  }

  &__black-green-add {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: $gradient-success;

    color: $white;
    font-family: Inter;
    font-size: $fs-14;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    &:hover {
      background: $gradient-success-hover;
    }
  }

  &__next-main {
    display: flex;
    height: 40px;
    padding: 9px 26px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    color: $white;
    font-family: Inter;
    font-size: $fs-14;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    border-radius: 10px;
    background: $gradient-primary, $gradient-success;

    &:hover {
      background: $gradient-primary-hover, $gradient-success-hover;
    }
  }

  &__cancel-main {
    display: flex;
    height: 40px;
    padding: 9px 26px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 10px;
    background: #EBF3FA;

    color: $text-gray-600;
    font-family: Inter;
    font-size: $fs-14;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    &:hover {
      background: #e4e8ef;
    }

  }

  &__purple {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 8px;
    border: 1px solid $purple-text-color;
    background: $bg-purple-50;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    &:hover {
      background: #ece7fd;
    }

    @media (min-width: 1024px) {
      display: flex;
      padding: 6px 12px;
      justify-content: center;
      align-items: center;
      gap: 4px;

      font-family: Inter;
      font-size: $fs-13;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }

    span {
      background: $gradient-primary;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.control-btn {
  align-items: center;
  align-content: center;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.065px;
  transition: 0.2s ease;
  height: 40px;
  max-height: 40px;

  @media (min-width: 640px) {
    font-size: 14px;
    letter-spacing: 0.07px;
  }

  img {
    width: 15px;
    height: 15px;
  }

  &--delete {
    color: #E15555;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid rgba(255, 97, 125, 0.20);
    background: #FFEFEA;

    @media (min-width: 640px) {

    }

    &:hover {
      background: #ffcdc1;
    }
  }

  &--edit {
    color: #2D8CFF;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid rgba(45, 140, 255, 0.20);
    background: #EAF7FF;

    &:hover {
      background: #e2f2fc;
    }
  }

  &--copy {
    color: $purple-text-color;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid rgba(125, 85, 190, 0.20);
    background: $bg-purple-50;

    &:hover {
      background: #f1e9fc;
    }
  }

  &--export {
    color: #03B5C2;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid rgba(3, 181, 194, 0.20);
    background: #E2FBFB;

    &:hover {
      background: #daf8f8;
    }
  }

  &--publish {
    color: $green-500;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid rgba(0, 148, 153, 0.20);
    background: $green-50;

    &:hover {
      background: #def1f3;
    }
  }

  &--more {
    padding: 4px;
  }
}

.btn-span-add {
  padding: 4px 8px 4px 4px;
  justify-content: center;
  align-items: center;
  gap: 2px;

  border-radius: 8px;
  border: 1px solid $grey-color-light;
  background: $bg-purple-75;

  color: $purple-text-color;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.06px;

  height: 28px;

  &:hover {
    color: #794ebe;
    background: #eed9f8;
  }

  @media (min-width: 640px) {
    display: flex;
    padding: 6px 14px 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 12px;
    border: 1px solid $grey-color-light;
    background: $bg-purple-75;

    color: $purple-text-color;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.07px;
    height: 32px;
  }
}