@use "../utils/variables" as *;

.btn {
  cursor: pointer;
  padding-top: 8px;
  padding-right: 26px;
  padding-bottom: 8px;
  padding-left: 26px;
  gap: 4px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;

  transition: background-color 0.3s ease, color 0.3s ease;

  @media (min-width: 1024px) {
    font-size: 14px;
    padding-top: 9px;
    padding-right: 26px;
    padding-bottom: 9px;
    padding-left: 26px;
  }


  &__primary {
    background: linear-gradient(299.32deg, #7D55BE 16.39%, #63428D 81.05%);
    color: #FFFFFF;
    border: 1px solid #63428D;
    font-family: Inter;

    &:hover {
      background: linear-gradient(299.32deg, #7843c0 16.39%, #62358d 81.05%);
    }

    @media (min-width: 1024px) {
      line-height: 19px
    }
  }

  &__secondary {
    background: #F8F3FF;
    color: #7D55BE;
    border: 1px solid #63428D;

    &:hover {
      background: #efe5ff;
    }

    @media (min-width: 1024px) {
      line-height: 19px
    }
  }

  &__tertiary {
    color: #202125;
    border: none;

    &:hover {
      color: #030305;
    }
  }

  &__play {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    padding-top: 6px;
    padding-right: 5px;
    padding-bottom: 6px;
    padding-left: 7px;
    border-radius: 18px;
    border-width: 1px;
  }

  &__read-more {
    border-radius: 10px;
    border-width: 1px;
    padding-top: 9px;
    padding-right: 18px;
    padding-bottom: 9px;
    padding-left: 18px;
    background: #F8F3FF;
    border: 1px solid #9A02DB40;

    font-weight: 500;
    color: #7D55BE;

    &:hover {
      background: #f0e7ff;
    }
  }

  &__prev,
  &__next {
    position: relative;
    overflow: hidden;
    border-radius: 55px;

    display: flex;
    width: 32px;
    height: 32px;
    gap: 10px;
    justify-content: center;
    align-items: center;

    background-color: #F7FAFF;
    border: 1px solid #F0F6FF;
    cursor: default;
    padding: 0;

    transition: background-color .25s ease,
    border-color .25s ease;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: linear-gradient(299.32deg, #7D55BE 16.39%, #63428D 81.05%);
      opacity: 0;
      transition: opacity .25s ease;
      z-index: 0;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: linear-gradient(299.32deg, #704ca8 16.39%, #543775 81.05%);
      opacity: 0;
      transition: opacity .25s ease;
      z-index: 0;
    }

    > * {
      position: relative;
      z-index: 1;
    }

    &:not(&--active):hover {
      background-color: #F7FAFF;
    }

    svg {
      width: 20px;
      height: 20px;
    }

    svg path {
      stroke: #808080;
      transition: stroke .25s ease;
    }

    &--active {
      cursor: pointer;
      border-color: transparent;

      &::before {
        opacity: 1;
      }

      &:hover::after {
        opacity: 1;
      }

      svg path {
        stroke: #fff;
      }
    }
  }

  &__prev:hover { background-color: #F7FAFF; }
  &__next:hover { background-color: #F7FAFF; }

  &__filter {
    width: 40px;
    height: 40px;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #E9EAEA;
    padding: 8px;
    background: #ffffff;

    &:hover {
      background: #fdf7f7;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__cancel {
    padding: 8px;
    border-radius: 8px;
    background: #E5E5FF;

    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #676C76;

    &:hover {
      background: #e0e0f3;
    }

    @media (min-width: 1024px) {
      padding-top: 6px;
      padding-right: 16px;
      padding-bottom: 6px;
      padding-left: 16px;
    }
  }

  &__next-step {
    padding: 8px;
    border-radius: 8px;
    background: linear-gradient(299.32deg, #7D55BE 16.39%, #63428D 81.05%);
    border: none;

    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #FFFFFF;

    &:hover {
      background: linear-gradient(299.32deg, #784bc0 16.39%, #653891 81.05%);
    }

    @media (min-width: 1024px) {
      padding-top: 6px;
      padding-right: 16px;
      padding-bottom: 6px;
      padding-left: 16px;

      border: 1px solid #63428D;
    }
  }

  &__green-add {
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    border-radius: 8px;

    border: 1px solid #1B9A8B;
    background: #F7FFFC;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #1B9A8B;

    &:hover {
      background: #ebfdf7;
    }

    @media (min-width: 1024px) {
      padding-top: 6px;
      padding-right: 12px;
      padding-bottom: 6px;
      padding-left: 12px;
      border-radius: 10px;
    }
  }

  &__black-green-add {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: linear-gradient(90deg, #1B9A8B 0%, #16B5A1 100%);

    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    &:hover {
      background: linear-gradient(90deg, #177e73 0%, #12a997 100%);
    }
  }

  &__next-main {
    display: flex;
    height: 40px;
    padding: 9px 26px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    border-radius: 10px;
    background: linear-gradient(299deg, #7D55BE 16.39%, #63428D 81.05%), linear-gradient(90deg, #1B9A8B 0%, #16B5A1 100%);

    &:hover {
      background: linear-gradient(299deg, #7046a9 16.39%, #4f306e 81.05%), linear-gradient(90deg, #14988a 0%, #10b29e 100%);
    }
  }

  &__cancel-main {
    display: flex;
    height: 40px;
    padding: 9px 26px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 10px;
    background: #EBF3FA;

    color: #676C76;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    &:hover {
      background: #e4e8ef;
    }

  }

  &__purple {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 8px;
    border: 1px solid #7D55BE;
    background: #F8F3FF;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    &:hover {
      background: #ece7fd;
    }

    @media (min-width: 1024px) {
      display: flex;
      padding: 6px 12px;
      justify-content: center;
      align-items: center;
      gap: 4px;

      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }

    span {
      background: linear-gradient(299deg, #7D55BE 16.39%, #63428D 81.05%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.control-btn {
  align-items: center;
  align-content: center;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.065px;
  transition: 0.2s ease;
  height: 40px;
  max-height: 40px;

  @media (min-width: 640px) {
    font-size: 14px;
    letter-spacing: 0.07px;
  }

  img {
    width: 15px;
    height: 15px;
  }

  &--delete {
    color: #E15555;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid rgba(255, 97, 125, 0.20);
    background: #FFEFEA;

    @media (min-width: 640px) {

    }

    &:hover {
      background: #ffcdc1;
    }
  }

  &--edit {
    color: #2D8CFF;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid rgba(45, 140, 255, 0.20);
    background: #EAF7FF;

    &:hover {
      background: #e2f2fc;
    }
  }

  &--copy {
    color: #7D55BE;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid rgba(125, 85, 190, 0.20);
    background: #F8F3FF;

    &:hover {
      background: #f1e9fc;
    }
  }

  &--export {
    color: #03B5C2;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid rgba(3, 181, 194, 0.20);
    background: #E2FBFB;

    &:hover {
      background: #daf8f8;
    }
  }

  &--publish {
    color: #009499;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid rgba(0, 148, 153, 0.20);
    background: #E6F4F5;

    &:hover {
      background: #def1f3;
    }
  }

  &--more {
    padding: 4px;
  }
}

.btn-span-add {
  padding: 4px 8px 4px 4px;
  justify-content: center;
  align-items: center;
  gap: 2px;

  border-radius: 8px;
  border: 1px solid #E9EAEA;
  background: #F1E7F8;

  color: #7D55BE;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.06px;

  height: 28px;

  &:hover {
    color: #794ebe;
    background: #eed9f8;
  }

  @media (min-width: 640px) {
    display: flex;
    padding: 6px 14px 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 12px;
    border: 1px solid #E9EAEA;
    background: #F1E7F8;

    color: #7D55BE;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.07px;
    height: 32px;
  }
}