@use "../utils/variables" as *;

.custom-chat {
  &__messages {
    display: flex;
    padding: 8px 0px 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;

    @media (min-width: 1024px) {
      gap: 32px;
      padding: 8px 0px 32px 0px;
    }

    &__message {
      width: 100%;

      &__header {
        display: flex;
        margin-bottom: 16px;

        @media (min-width: 1024px) {
          margin-bottom: 8px;
        }

        &__avatar {
          width: 40px;
          height: 40px;
          margin-right: 12px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 50%;
          }

        }

        &__title {
          color: #333;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0.07px;
        }

        &__time {
          color: var(--Grey-grey-500, #727A90);
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.06px;
        }
      }

      &__body {
        color: #676C76;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.065px;

        @media (min-width: 1024px) {
          color: #676C76;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.07px;
          margin-left: 52px;
        }
      }

      &__divider {
        display: flex;
        padding-bottom: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        width: 100%;
        border-bottom: 1px solid var(--Black-black-50, #E9EAEA);
      }
    }
  }

  &__custom-textarea {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    align-self: stretch;

    width: 100%;
    min-height: 100px;

    border-radius: 12px;
    border: 1px solid var(--Black-black-50, #E9EAEA);
    background: var(--White, #FFF);

    color: #98A2B3;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
  }
}