@use "../utils/variables" as *;

.contactUsModal {
  width: 100%;
  height: 100%;
  padding: 64px 20px;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 50;

  /* Fade in/out */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  display: flex;

  &.open {
    opacity: 1;
    pointer-events: auto;
  }

  &__container {
    max-height: 100%;
    background: $white;
    border-radius: 16px;
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    position: relative;
    overflow-y: auto;

    transform: scale(0.97);
    opacity: 0;
    transition: transform 0.25s ease, opacity 0.25s ease;

    .contactUsModal.open & {
      transform: scale(1);
      opacity: 1;
    }
    @media (min-width: 640px) {
      margin: auto;
      padding: 40px 64px;
      margin: auto;
      max-width: 584px;
      height: auto;
    }

    &__title {
      color: $black-333;
      text-align: center;
      font-family: Inter;
      font-size: $fs-24;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;

      @media (min-width: 1024px) {
        font-size: $fs-32;
      }
    }

    &__description {
      color: $text-secondary-light;
      text-align: center;
      font-family: Inter;
      font-size: $fs-14;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      @media (min-width: 1024px) {
        font-size: $fs-16;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__label {
      color: $text-body;
      font-family: Inter;
      font-size: $fs-14;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.084px;
    }

    &__input {
      display: flex;
      padding: 9px 12px;
      align-items: center;
      gap: 12px;
      align-self: stretch;

      border-radius: 8px;
      border: 1px solid $border-soft-blue;
      background: $white;

      width: 100%;

      @media (min-width: 1024px) {
        min-height: 48px;
        padding: 12px;
      }
    }

    &__textarea {
      display: flex;
      min-height: 132px;
      padding: 12px;
      align-items: flex-start;
      gap: 12px;
      flex: 1 0 0;
      align-self: stretch;

      border-radius: 8px;
      border: 1px solid $border-soft-blue;
      background: $white;

      @media (min-width: 1024px) {
        height: 160px;
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
        align-self: stretch;
      }

      &::placeholder {
        color: $text-secondary-light;
        font-family: Inter;
        font-size: $fs-14;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.098px;
        opacity: 0.5;

        @media (min-width: 1024px) {
          font-size: $fs-16;
          letter-spacing: -0.112px;
        }
      }
    }

    &__checkbox-label {
      color: #391952;

      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 21px */

      &-link {
        color: $purple-text-color;

        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;

      }
    }

    &__checkbox {
      width: 18px;
      height: 18px;

      border-radius: 4px;
      border: 1px solid $purple-text-color;
      background: $white;
    }
  }

  &__submit-button {
    display: flex;
    padding: 12px 26px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;

    border-radius: 10px;
    background: $gradient-primary;

    color: $white;
    font-family: Manrope;
    font-size: $fs-16;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
  }
}