@use "../utils/variables" as *;

.contactUsModal {
  padding: 0px 20px;
  z-index: 50;

  &__container {
    max-height: 100%;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;

    transform: scale(0.97);

    @media (min-width: 640px) {
      margin: auto;
      padding: 40px 44px;
      max-width: 584px;
      height: auto;
    }

    &__title {
      color: $black-333;
      text-align: center;
      font-family: Inter;
      font-size: $fs-24;
      font-weight: 600;
      line-height: 120%;

      @media (min-width: 1024px) {
        font-size: $fs-32;
      }
    }

    &__description {
      color: $text-secondary-light;
      text-align: center;
      font-family: Inter;
      font-size: $fs-14;
      font-weight: 400;
      line-height: 150%;

      @media (min-width: 1024px) {
        font-size: $fs-16;
      }
    }
  }

  &__body {
    padding: 0 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__label {
      color: $text-body;
      font-family: Inter;
      font-size: $fs-14;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.084px;
    }

    &__input {
      display: flex;
      padding: 9px 12px;
      align-items: center;
      gap: 12px;

      border-radius: 8px;
      border: 1px solid $border-soft-blue;
      background: $white;
      width: 100%;

      @media (min-width: 1024px) {
        min-height: 48px;
        padding: 12px;
      }
    }

    &__textarea {
      display: flex;
      min-height: 132px;
      padding: 12px;
      align-items: flex-start;
      gap: 12px;
      flex: 1 0 0;
      align-self: stretch;

      border-radius: 8px;
      border: 1px solid $border-soft-blue;
      background: $white;

      @media (min-width: 1024px) {
        height: 160px;
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
      }

      &::placeholder {
        color: $text-secondary-light;
        font-family: Inter;
        font-size: $fs-14;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.098px;
        opacity: 0.5;

        @media (min-width: 1024px) {
          font-size: $fs-16;
          letter-spacing: -0.112px;
        }
      }
    }

    &__checkbox-label {
      color: #391952;
      font-family: Roboto;
      font-size: 14px;
      line-height: 150%;

      &-link {
        color: $purple-text-color;
        text-decoration-line: underline;
      }
    }

    &__checkbox {
      width: 18px;
      height: 18px;
      border-radius: 4px;
      border: 1px solid $purple-text-color;
      background: $white;
    }
  }

  &__submit-button {
    display: flex;
    padding: 12px 26px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;

    border-radius: 10px;
    background: $gradient-primary;

    color: $white;
    font-family: Manrope;
    font-size: $fs-16;
    font-weight: 700;
  }
}