@use "../utils/variables" as *;

.custom-modal-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  z-index: 99999;
}

.custom-modal-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.custom-modal-container {
  position: relative;
  background: $white;
  border-radius: 16px;
  width: 100%;
  //  padding: 40px 20px;
  overflow-y: auto;
  max-height: 90vh;

  transform: scale(0.95);
  opacity: 0;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.custom-modal-overlay.open .custom-modal-container {
  opacity: 1;
  transform: scale(1);
}

.custom-modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 20px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: $text-secondary-light;

  @media (min-width: 375px) {
    top: 20px;
    right: 20px;
    width: 24px;
  }
}

.custom-modal-body {
  overflow-y: auto;
}