@use "../utils/variables" as *;

.form-stepper {
  &__container {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    align-self: stretch;

    @media (min-width: 1024px) {
      padding: 16px 32px 16px 32px;
    }
  }

  &__steps {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 80vw;

    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (min-width: 1024px) {
      overflow: visible;
    }

  }

  &__steps-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    @media (min-width: 1024px) {
      min-width: 80px;
    }

    &-img {
      border-radius: 66.667px;
      width: 32px;
      height: 32px;

      @media (min-width: 1024px) {
        width: 48px;
        height: 48px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }

    }

    &-title {
      color: #333;
      text-align: center;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;


      white-space: nowrap;
      overflow: visible;


    }

    &-title-active {
      color: #333;
      text-align: center;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;


      white-space: nowrap;
      overflow: visible;

    }
  }

  a.form-stepper__steps-step {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;

    &:hover {
      .form-stepper__steps-step-img img {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        transition: all 0.3s ease;
        border: 1px solid $purple-light-text-color;
        padding: 3px;
      }
    }

    .form-stepper__steps-step-img img {
      transition: all 0.3s ease;
    }
  }

  &__steps-divider {
    display: flex;
    flex: 0 1 20px;
    height: 4px;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    margin: auto;

    border-radius: 100px;
    background: #DFE7EF;

    @media (min-width: 640px) {
      flex: 0 1 80px;
    }

    @media (min-width: 768px) {
      flex: 0 1 100px;
    }

    @media (min-width: 1024px) {
      flex: 0 1 100px;
    }

    @media (min-width: 1280px) {
      flex: 0 1 142px;
    }

    &-active {
      height: 4px;
      flex: 0 1 10px;
      border-radius: 100px;
      background: #7D55BE;

      @media (min-width: 640px) {
        flex: 0 1 50%
      }
    }

    &-filled {
      height: 4px;
      flex: 0 1 20px;
      border-radius: 100px;
      background: #58397F;

      @media (min-width: 640px) {
        flex: 0 1 80px;
      }

      @media (min-width: 768px) {
        flex: 0 1 100px;
      }

      @media (min-width: 1024px) {
        flex: 0 1 100px;
      }

      @media (min-width: 1280px) {
        flex: 0 1 142px;
      }
    }
  }
}

.custom-divider {
  height: 1px;
  align-self: stretch;
  border-bottom: 1px solid #E9EAEA;
}