@use "../utils/variables" as *;

.search-input {
  border: $grey-color-light 1px solid;
  border-radius: 12px;
  padding: 10px 10px 10px 36px;
  max-height: 40px;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: 1024px) {
    width: 303px;
  }
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: url('/images/icons/arrow-dark-down-icon.svg') no-repeat right 12px center / 20px auto;

  display: flex;
  width: 120px;
  padding: 9px 10px 9px 12px;
  align-items: center;
  gap: 4px;

  border-radius: 12px;
  border: 1px solid #E9EAEA;

  color: #727A90;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 157.143% */
  letter-spacing: -0.098px;

  @media (min-width: 1024px) {
    display: flex;
    width: 160px;
    padding: 9px 10px 9px 12px;
    align-items: center;
    gap: 4px;
  }

}

.form-navigation {
  display: flex;
  justify-content: space-between;
}


.custom-form {
  &-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &-container-short {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-block {

    &-header {
    }

    &-subheader {
    }

    &-inputs {
      input {
        display: flex;
        padding: 8px 12px;
        font-size: 14px;
        align-items: center;
        line-height: 22px;
        gap: 12px;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid #CBD5E1;
        background: #FFF;

        @media (min-width: 1024px) {
          padding: 12px;
        }
      }

      textarea {
        display: flex;
        min-height: 184px;
        padding: 12px;
        align-items: center;
        gap: 12px;
        flex: 1 0 0;
        align-self: stretch;

        font-size: 14px;
        line-height: 22px;

        border-radius: 8px;
        border: 1px solid #CBD5E1;
        background: #FFF;

        @media (min-width: 1024px) {
          min-height: 327px;
        }
      }

      .custom-input-phone {
        padding-left: 75px;
      }
    }

    &-checkboxes {
      display: flex;
      flex-direction: column;
      gap: 24px;
      flex-wrap: wrap;
      padding: 16px 0;

      @media (min-width: 640px) {
        flex-direction: row;
        gap: 24px;
      }

      &-checkbox {
        cursor: pointer;
        display: flex;
        gap: 8px;

        @media (min-width: 1024px) {
          margin-bottom: 8px;
        }

        input[type="checkbox"] {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;

          width: 20px;
          height: 20px;
          border-radius: var(--spacing-xs, 4px);
          background-color: #fff;
          border: 1px solid var(--colors-border-border-primary, #D9D9D9);
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s ease;
          position: relative;
        }

        input[type="checkbox"]:checked {
          background-color: var(--colors-background-bg-brand-solid, #6855E8);
          border: 1px solid var(--colors-background-bg-brand-solid, #6855E8);
        }

        input[type="checkbox"]:checked::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -60%) rotate(45deg);
          width: 6px;
          height: 10px;
          border: solid white;
          border-width: 0 2px 2px 0;
        }

        .checkbox-label {
          color: #333;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
          cursor: pointer;
        }
      }
    }
  }

  .custom-label {
    color: #1E293B;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.078px;
    margin-bottom: 8px;

    @media (min-width: 1024px) {
      color: #1E293B;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.084px;
    }
  }


  &-collapse {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    border-radius: 12px;
    border: 1px solid #F5EDFF;
    background: #FFF;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      width: 100%;

      &-title {
        color: #333;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 21px */
      }

      &-image {
        width: 28px;
        height: 28px;

        @media (min-width: 1024px) {
          width: 24px;
          height: 24px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &-body {
      width: 100%;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.2s ease;

      &-textarea {
        margin-top: 16px;
        display: flex;
        width: 100%;
        padding: 12px;
        align-items: center;
        gap: 12px;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid #CBD5E1;
        background: #FFF;

        font-size: 14px;
        line-height: 22px;

        &-short {
          min-height: 48px;
        }

        &-long {
          min-height: 260px;;
        }
      }
    }
  }


  &-template {
    display: flex;
    max-width: 350px;
    height: 240px;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;

    border-radius: 12px;
    border: 1px solid rgba(154, 2, 219, 0.25);
    background: #FFF;
    box-shadow: 0 4px 10.6px -2px rgba(118, 25, 158, 0.16);

    gap: 12px;

    &:hover {
      border-color: $purple-light-text-color;
      box-shadow: 0 4px 14px -2px rgba(154, 2, 219, 0.25);
      cursor: pointer;
    }

    &.active {
      border: 1px solid $purple-light-text-color;
      box-shadow: 0 0 0 7px rgba(154, 2, 219, 0.2);
    }

    @media (min-width: 768px) {
      max-width: 306px;
    }

    &-header {
      display: flex;
      flex-direction: column;
      gap: 4px;

      &-title {
        color: #58397F;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 22.4px */
      }

      &-text {
        color: #737580;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
      }
    }

    &-image {
      border-radius: 8px;
      max-width: 280px;
      max-height: 157px;
      margin: auto;

      image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

    }
  }

  &-switcher {
    &-title {
      color: #333;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */

      @media (min-width: 1024px) {
        color: #333;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 27px */
      }
    }

    &-body {
      display: flex;
      align-items: center;
      gap: 10px;

      &-input {
        display: flex;
        margin: auto 0;
      }

      &-label {
        color: #676C76;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
      }

    }
  }

  &-export {
    display: flex;
    padding: 16px 32px 16px 12px;
    align-items: center;
    gap: 4px;
    align-self: stretch;

    border-radius: 10px;
    border: 1px solid #EBF3FA;
    background: #FFF;

    @media (min-width: 1024px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      border: 1px solid rgba(45, 140, 255, 0.20);
      background: #EAF7FF;
      cursor: pointer;
    }

    &:hover &-body-title {
      color: #2D8CFF;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 21px */
    }

    &-active {
      border: 1px solid rgba(45, 140, 255, 0.20);
      background: #EAF7FF;
    }

    &-body {
      display: flex;
      gap: 10px;

      &-image {
        display: flex;
        width: 40px;
        height: 32px;
        padding: 4px 6px 3px 6px;
        justify-content: center;
        align-items: center;

        image {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &-title {
        color: #333;
        display: flex;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 21px */
        align-items: center;

        &-active {
          color: #2D8CFF;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 21px */
        }
      }
    }
  }
}

.label-optional {
  color: #475569;
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.078px;
}

.country-dropdown {
  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}

.templates {
  display: grid;
  gap: 10px;

  grid-template-columns: 1fr;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__template {
    width: 100%;
    display: flex;
    padding: 16px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;

    border-radius: 6px;
    border: 1px solid rgba(154, 2, 219, 0.25);
    background: radial-gradient(193.92% 102.63% at 0% 19.62%, #E5ECFF 0%, #F2FAFF 60.9%, #FFF 100%), #FFF;
    box-shadow: 0 16px 28.8px -12px rgba(13, 178, 157, 0.10);

    @media (min-width: 1024px) {
      // width: 315px;
    }

    &__title {
      color: #58397F;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
    }

    &__description {
      color: #333;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

.billing_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  margin-top: 12px;

  @media (min-width: 1024px) {
    margin-top: 24px;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: end;
  }

  label {
    display: flex;
    color: #333;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.084px;
    margin-bottom: 8px;
  }

  input {
    display: flex;
    padding: 9px 12px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    width: 100%;

    border-radius: 8px;
    border: 1px solid #CBD5E1;
    background: #FFF;

    color: #727A90;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.098px;
    line-height: 22px;
  }

  &__save-button {
    display: flex;
    height: 40px;
    width: 100%;
    padding: 9px 26px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;

    border-radius: 10px;
    background: linear-gradient(299deg, #7D55BE 16.39%, #63428D 81.05%);

    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */

    @media (min-width: 1024px) {
      width: 85px;
    }
  }
}


.payment-form {
  max-width: 100%;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.05);

  @media (min-width: 768px) {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 630px;
    min-height: 126px;
    border-radius: 12px;
    background: #FFF;
  }

  &__content {
    width: 100%;
  }

  &__header {
    &__title {
      color: #333;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @media (min-width: 768px) {
        color: #333;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    &__description {
      color: #727A90;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media (min-width: 768px) {
        color: #727A90;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  &__card-number-block {
    position: relative;

    label {
      color: #333;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.078px;

      @media (min-width: 768px) {
        color: #333;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.084px;
      }
    }

    & .payment-form__card-input-wrapper {
      position: relative;
      display: flex;
      align-items: center;

      .payment-form__card-input {
        display: flex;
        padding: 10px 12px;
        align-items: center;
        gap: 12px;
        align-self: stretch;

        border-radius: 8px;
        border: 1px solid #CBD5E1;
        background: #FFF;
        height: 44px;

        @media (min-width: 768px) {
          display: flex;
          padding: 10px 12px;
          align-items: center;
          gap: 12px;
          align-self: stretch;

          border-radius: 8px;
          border: 1px solid #CBD5E1;
          background: #FFF;

          color: #727A90;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: -0.098px;
        }
      }

      .payment-form__card-icon {
        position: absolute;
        right: 12px;
        height: 24px;
        width: 34px;
        height: 24px;
        fill: var(--gray-0-white, #FFF);
        stroke-width: 1px;
        stroke: var(--Gray-20, #E2E8F0);
      }
    }
  }

  &__card-additional-info {
    display: flex;
    gap: 12px;

    label {
      color: #333;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.078px;

      @media (min-width: 768px) {
        color: #333;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.084px;
      }
    }

    @media (min-width: 768px) {
    }

    select.payment-form__select,
    input.payment-form__cvc-input,
    input.payment-form__number-input {
      display: flex;
      padding: 10px 12px;
      align-items: center;
      gap: 12px;
      min-width: 0;
      width: 100%;

      border-radius: 8px;
      border: 1px solid #CBD5E1;
      background: #FFF;

      color: #727A90;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.091px;
      height: 42px;

      @media (min-width: 768px) {
        display: flex;
        padding: 10px 12px;
        align-items: center;
        gap: 12px;

        border-radius: 8px;
        border: 1px solid #CBD5E1;
        background: #FFF;

        color: #727A90;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.098px;
      }
    }
  }

  &__auto-recharge {
    label {
      color: #333;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.078px;

      @media (min-width: 768px) {
        color: #333;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.084px;
      }
    }

    input {
      display: flex;
      padding: 10px 12px;
      align-items: center;
      gap: 12px;
      align-self: stretch;

      border-radius: 8px;
      border: 1px solid #CBD5E1;
      background: #FFF;

      color: #727A90;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.091px;

      width: 100%;
      height: 42px;

      @media (min-width: 768px) {
        display: flex;
        padding: 10px 12px;
        align-items: center;
        gap: 12px;
        align-self: stretch;

        border-radius: 8px;
        border: 1px solid #CBD5E1;
        background: #FFF;

        color: #727A90;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        letter-spacing: -0.098px;
      }
    }

    &__title {
      color: #333;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @media (min-width: 768px) {
        color: #333;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    &__description {
      color: #727A90;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media (min-width: 768px) {
        color: #727A90;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .payment-form__switcher {
      width: 40px;
      height: 20px;
    }
  }

  &__total-info {
    &__label {
      color: #333;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media (min-width: 768px) {
        color: #333;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    &__label-main {
      color: #333;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @media (min-width: 768px) {
        color: #333;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    &__price {
      color: #333;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media (min-width: 768px) {
        color: #333;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    &__price-main {
      color: #333;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @media (min-width: 768px) {
        color: #333;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }

  &__divider {
    height: 1px;
    background: #E9EAEA;
    margin: 1px 0;
  }

  &__button {
    display: flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: 12px;
    background: linear-gradient(299deg, #7D55BE 16.39%, #63428D 81.05%), #7D55BE;
    width: 100%;
    color: #FFF;

    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.07px;

    @media (min-width: 768px) {
      display: flex;
      padding: 10px 14px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      border-radius: 12px;
      background: linear-gradient(299deg, #7D55BE 16.39%, #63428D 81.05%), #7D55BE;
      color: #FFF;
      font-family: "Public Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.07px;
    }
  }
}