@use "../utils/variables" as *;

.search-input {
  border: $grey-color-light 1px solid;
  border-radius: 12px;
  padding: 10px 10px 10px 36px;
  max-height: 40px;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: 1024px) {
    width: 303px;
  }
}

.form-navigation {
  display: flex;
  justify-content: space-between;
}


.custom-form {
  &-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &-container-short {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-block {

    &-header {
    }

    &-subheader {
    }

    &-inputs {
      input {
        display: flex;
        padding: 8px 12px;
        font-size: 14px;
        align-items: center;
        line-height: 22px;
        gap: 12px;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid #CBD5E1;
        background: #FFF;

        @media (min-width: 1024px) {
          padding: 12px;
        }
      }

      textarea {
        display: flex;
        min-height: 184px;
        padding: 12px;
        align-items: center;
        gap: 12px;
        flex: 1 0 0;
        align-self: stretch;

        font-size: 14px;
        line-height: 22px;

        border-radius: 8px;
        border: 1px solid #CBD5E1;
        background: #FFF;

        @media (min-width: 1024px) {
          min-height: 327px;
        }
      }

      .custom-input-phone {
        padding-left: 75px;
      }
    }

    &-checkboxes {
      display: flex;
      flex-direction: column;
      gap: 24px;
      flex-wrap: wrap;
      padding: 16px 0;

      @media (min-width: 1024px) {
        flex-direction: row;
        gap: 24px;
      }

      &-checkbox {
        display: flex;
        gap: 8px;

        @media (min-width: 1024px) {
          margin-bottom: 8px;
        }

        input[type="checkbox"] {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;

          width: 20px;
          height: 20px;
          border-radius: var(--spacing-xs, 4px);
          background-color: #fff;
          border: 1px solid var(--colors-border-border-primary, #D9D9D9);
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s ease;
          position: relative;
        }

        input[type="checkbox"]:checked {
          background-color: var(--colors-background-bg-brand-solid, #6855E8);
          border: 1px solid var(--colors-background-bg-brand-solid, #6855E8);
        }

        input[type="checkbox"]:checked::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -60%) rotate(45deg);
          width: 6px;
          height: 10px;
          border: solid white;
          border-width: 0 2px 2px 0;
        }

        .checkbox-label {
          color: #333;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
        }
      }
    }
  }

  .custom-label {
    color: #1E293B;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.078px;
    margin-bottom: 8px;

    @media (min-width: 1024px) {
      color: #1E293B;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.084px;
    }
  }


  &-collapse {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    border-radius: 12px;
    border: 1px solid #F5EDFF;
    background: #FFF;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      width: 100%;

      &-title {
        color: #333;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 21px */
      }

      &-image {
        width: 28px;
        height: 28px;

        @media (min-width: 1024px) {
          width: 24px;
          height: 24px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &-body {
      width: 100%;

      &-textarea {
        display: flex;
        width: 100%;
        padding: 12px;
        align-items: center;
        gap: 12px;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid #CBD5E1;
        background: #FFF;

        font-size: 14px;
        line-height: 22px;

        &-short {
          min-height: 48px;
        }

        &-long {
          min-height: 260px;;
        }
      }
    }
  }
}

.label-optional {
  color: #475569;
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.078px;
}

.country-dropdown {
  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}

.templates {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &__template {
    width: 100%;
    display: flex;
    padding: 16px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;

    border-radius: 6px;
    border: 1px solid rgba(154, 2, 219, 0.25);
    background: radial-gradient(193.92% 102.63% at 0% 19.62%, #E5ECFF 0%, #F2FAFF 60.9%, #FFF 100%), #FFF;
    box-shadow: 0 16px 28.8px -12px rgba(13, 178, 157, 0.10);

    @media (min-width: 1024px) {
      width: 315px;
    }

    &__title {
      color: #58397F;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
    }

    &__description {
      color: #333;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}
