@use "../utils/variables" as *;
.status-block {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: $fs-12;
  line-height: 18px;

  padding-top: 2px;
  padding-right: 8px;
  padding-bottom: 2px;
  padding-left: 8px;
  border-radius: 100px;

  &-grey {
    background: $grey-100;
    border: 1px solid $grey-200;
    color: $text-muted;
  }

  &-red {
    border-radius: 100px;
    border: 1px solid $red-100;
    background: $red-50;

    color: $red-500;
    text-align: center;
  }

  &-green {
    border-radius: 100px;
    border: 1px solid $green-100;
    background: $green-50;

    color: $green-500;
    text-align: center;
  }

  &-blue {
    border-radius: 100px;
    border: 1px solid $cyan-100;
    background: $cyan-50;

    color: $cyan-500;
    text-align: center;
  }

  &-orange {
    border-radius: 100px;
    border: 1px solid $orange-100;
    background: $orange-50;

    color: $orange-500;
  }
}

.green-price {
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: $fs-14;
  line-height: 20px;
  color: $green-500 !important;
}

.green-price-only-color {
  color: $green-500 !important;
}

.title-page {
  color: $black-333-short;
  font-family: Inter;
  font-size: $fs-18;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.09px;

  @media (min-width: 1024px) {
    color: $black-333-short;
    font-family: Inter;
    font-size: $fs-24;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.12px;
  }
}