.status-block {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  padding-top: 2px;
  padding-right: 8px;
  padding-bottom: 2px;
  padding-left: 8px;
  border-radius: 100px;

  &-grey {
    background: #F1F2F4;
    border: 1px solid #D3D6DD;
    color: #727A90;
  }

  &-red {
    border-radius: 100px;
    border: 1px solid var(--Red-red-100, #F7B8B8);
    background: var(--Red-red-50, #FCE8E8);

    color: var(--Red-red-500, #E51B1B);
    text-align: center;
  }

  &-green {
    border-radius: 100px;
    border: 1px solid var(--Green-green-100, #B0DEDF);
    background: var(--Green-green-50, #E6F4F5);

    color: var(--Green-green-500, #009499);
    text-align: center;
  }

  &-blue {
    border-radius: 100px;
    border: 1px solid var(--Cyan-cyan-100, #B0E0FC);
    background: var(--Cyan-cyan-50, #E6F5FE);

    color: var(--Cyan-cyan-500, #019BF4);
    text-align: center;
  }

  &-orange {
    border-radius: 100px;
    border: 1px solid var(--Orange-orange-100, #FACDC3);
    background: var(--Orange-orange-50, #FEEFEC);

    color: var(--Orange-orange-500, #F05D3D);
  }
}

.green-price {
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #009499 !important;
}

.title-page {
  color: #333;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.09px;

  @media (min-width: 1024px) {
    color: #333;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.12px;
  }
}