.block-list {
  position: relative;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  gap: 16px;

  &__item {
    background: #ffffff;
    box-shadow: #0C0C0D0D 0 1px 4px 0;
    border: 1px solid #E9EAEA;
    border-radius: 8px;

    overflow: visible;
    color: #333;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.07px;

    &-row-1 {
      padding: 12px;
      border-bottom: 1px solid #E9EAEA
    }

    &-row-2 {
      padding: 12px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }

  &__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #727A90;
  }

  &__description-2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #727A90;
  }
}