@use "../utils/variables" as *;

.mobile-hamburger-button {
  gap: 10px;
  border-radius: 8px;
  border-width: 1px;
  padding: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}