@use "../utils/variables" as *;

.popup-menu, .popup-menu-page {
  z-index: 99999999;
  position: absolute;
  background: #ffffff;
  min-width: 165px;
  border-radius: 12px;
  padding: 20px;
  right: 10px;
  /*top: 50px;*/
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #676C76;
  box-shadow: 0px 2px 10px 0px #727A9029;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-item {
      display: flex;

      a {
        display: flex;
      }
    }
  }


}

.popup-menu {
  &__list-item-icon {
    width: 20px;
    height: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.popup-menu-page {
  right: 50%;
  left: 50%;
  transform: translate(-50%, 0);


  &__list-item-icon {
    width: 18px;
    height: 18px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}