@use "../utils/variables" as *;

.spn {
  &__purple {
    color: $purple-text-color;
  }
}

.custom-span-item {
  display: flex;
  padding: 4px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 8px;

  text-align: left;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.06px;

  min-height: 28px;


  @media (min-width: 640px) {
    display: flex;
    padding: 6px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 12px;


    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.07px;

    height: 32px;
  }

  &--blue {
    border: 1px solid var(--Cyan-cyan-100, $cyan-100);
    background: var(--Cyan-cyan-50, #E6F5FE);
    color: var(--Cyan-cyan-500, $cyan-500);
  }

  &--green {
    color: $green-500;
    border: 1px solid $green-100;
    background: $green-50;
  }
}

.number-list-element {
  color: $black-333-short;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.065px;

  @media (min-width: 640px) {
    color: $black-333-short;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.07px;

  }
}