.tabs {
  display: flex;
  border-bottom: none;
  overflow-x: auto;
  margin: 0px;
  max-width: 80vw;
  gap: 12px;

  @media (min-width: 640px) {
    max-width: 100%;
  }

  &__btn {
    color: #727A90;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.065px;
    padding-bottom: 14px;
    white-space: nowrap;


    @media (min-width: 640px) {
      color: #727A90;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.07px;
    }

    &:hover {
      //  color: #1E293B;
    }

    &--active {
      color: #58397F;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.065px;
      border-bottom: 2px solid #58397F;

      @media (min-width: 640px) {
        color: #58397F;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.07px;
      }
    }
  }

  &__content {
    font-family: Inter, sans-serif;
    font-size: 15px;
    color: #1E293B;
  }
}

/* estimation tab */
.estimation {
  &__prices {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 16px;

    @media (min-width: 640px) {
      flex-direction: row;
    }

  }

  &__price {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 8px;

    border-radius: 12px;
    border: 1px solid #E9EAEA;
    background: #FFF;

    @media (min-width: 640px) {
      display: flex;
      height: 148px;
      padding: 24px;
      gap: 24px;
      flex: 1 0 0;
      width: 100%;
    }
  }

  &__price-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-body {
    display: flex;
    align-items: baseline;
  }

  &__price-title {
    color: #333333;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.07px;
    word-wrap: break-word;

    @media (min-width: 640px) {
      color: #333333;
      font-size: 18px;
      font-family: Inter;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0.09px;
      word-wrap: break-word
    }

  }

  &__price-icon img {
    width: 40px;
    height: 40px;
  }

  &__price-value {
    color: #333333;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.10px;
    word-wrap: break-word;

    @media (min-width: 640px) {
      color: #333333;
      font-size: 28px;
      font-family: Inter;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0.14px;
      word-wrap: break-word
    }
  }


  &__price-total {
    color: #333333;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.09px;
    word-wrap: break-word;

    @media (min-width: 640px) {
      color: #333333;
      font-size: 28px;
      font-family: Inter;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0.14px;
      word-wrap: break-word
    }
  }

  &__price-time {
    color: #727A90;
    font-size: 13px;
    font-family: Inter;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.07px;
    word-wrap: break-word;

    @media (min-width: 640px) {
      color: #727A90;
      font-size: 14px;
      font-family: Inter;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0.07px;
      word-wrap: break-word
    }
  }


  .estimations__table-wrap {
    display: flex;
    padding: 0 12px 8px 12px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    border-radius: 12px;
    border: 1px solid #E9EAEA;
    background: #FFF;

    @media (min-width: 640px) {
      padding: 0px;
    }

  }

  .estimations__table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    display: flex;
    padding: 16px 4px;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    @media (min-width: 640px) {
      display: flex;
      padding: 20px 24px;
      align-items: center;
      gap: 16px;
      align-self: stretch;
    }

    // padding: 0 12px 8px 12px;

  }

  .estimations__table-header-info {
    display: flex;
    flex-direction: row;
    gap: 8px;

    @media (min-width: 640px) {
    }
  }

  .estimations__table-title {
    color: #333;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.07px;

    @media (min-width: 640px) {
      color: #333;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0.1px;

    }
  }

  .estimations__table-tag {
    display: flex;
    padding: 4px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 100px;
    border: 1px solid #B0DEDF;
    background: #E6F4F5;

    color: #009499;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.06px;

    height: 28px;

    @media (min-width: 640px) {
      display: flex;
      padding: 4px 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;

      border-radius: 100px;
      border: 1px solid #B0DEDF;
      background: #E6F4F5;

      color: #009499;
      text-align: center;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.07px;
    }

  }

  .estimations__table-action {
  }

  .estimations__table-add {
    display: flex;
    padding: 4px 8px 4px 4px;
    justify-content: center;
    align-items: center;
    gap: 2px;

    border-radius: 8px;
    border: 1px solid #E9EAEA;
    background: #F1E7F8;

    color: #7D55BE;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.06px;

    height: 28px;
    cursor: pointer;

    &:hover {
      color: #794ebe;
      background: #eed9f8;
    }

    @media (min-width: 640px) {
      display: flex;
      padding: 10px 14px 10px 8px;
      justify-content: center;
      align-items: center;
      gap: 4px;

      border-radius: 12px;
      border: 1px solid #E9EAEA;
      background: #F1E7F8;

      color: #7D55BE;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.07px;
      height: 40px;
    }
  }

  .estimations__table-add img {
    width: 16px;
    height: 16px;

    @media (min-width: 640px) {
      width: 20px;
      height: 20px;
    }
  }
}

.client-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  &--inner {
    border-radius: 12px;
    border: 1px solid #E9EAEA;
    padding: 16px;

    @media (min-width: 640px) {
      border-radius: 12px;
      border: 1px solid #E9EAEA;
      padding: 24px;
    }

  }

  &__title {
    color: #333;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.08px;

    @media (min-width: 640px) {
      color: #333;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0.09px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    @media (min-width: 768px) {
      gap: 24px;
    }

  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    flex: 1;
  }

  &__icon {
    width: 16px;
    height: 16px;
    flex: 0 0 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__label {
    color: #727A90;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.065px;

    @media (min-width: 640px) {
      color: #727A90;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.07px;
    }
  }

  &__value {
    color: #333;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.065px;

    @media (min-width: 640px) {
      color: #333;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.07px;
    }
  }

  &__span-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}