@use "../utils/variables" as *;

.dashboard-table {
  display: none;

  @media (min-width: 768px) {
    display: table;
  }

  &__inner {
    border-radius: 5px;
    border-collapse: separate;
    border: 1px solid #E9EAEA;
  }

  &__inner-radius-up-none {
    border-radius: 0 0 5px 5px;
    border-collapse: collapse;
    border-top: 1px solid #E9EAEA;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
  }

  thead {
    tr {
      th {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #727A90;
        border-bottom: 1px solid #E9EAEA;

        .th-container {
          display: flex;
          justify-content: space-between;
        }

        img {
          cursor: pointer;
        }

      }
    }
  }

  tbody {
    td {
      font-family: "Inter", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #333333;
      border-bottom: 1px solid #E9EAEA;
    }

    tr:last-child td {
      border-bottom: none;
    }
  }

  td, th {
    text-align: left;
    padding-top: 18px;
    padding-right: 22px;
    padding-bottom: 18px;
    padding-left: 22px;
  }

  &__td-title {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }

  &__td-description {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #727A90;
  }
}

.pagination-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #727A90;
  gap: 8px;

  @media (min-width: 640px) {
    display: flex;
    flex-direction: row;
  }

  &-pages {
    display: flex;
    text-align: center;
    align-items: center;
  }

  &-text {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #727A90;
  }

  button {
    width: 32px;
    height: 32px;
    background: #ffffff;
    border: 1px solid #E9EAEA;
    padding: 6px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }

  &__btn-selected {
    background: #F1E7F8 !important;
    color: #6E0AB8 !important;
  }
}

.table-item-block {
  position: relative;
}