@use "../utils/variables" as *;

.terms-and-privacy-modal {
  z-index: 9999;

  &__container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;

    @media (min-width: 640px) {
      margin: auto;
      padding: 40px 64px;
    }

    &__title {
      font-family: Inter;
      font-weight: 600;
      font-size: $fs-24;
      text-align: center;

      @media (min-width: 1024px) {
        font-size: $fs-32;
      }
    }

    &__description {
      font-family: Inter;
      font-weight: 400;
      font-size: $fs-14;
      text-align: center;
      color: $text-secondary-light;

      @media (min-width: 1024px) {
        font-size: $fs-16;
      }
    }
  }

  &__close {
  }

  &--body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
    padding: 0 16px;

    max-height: calc(90vh - 100px);
    overflow-y: auto;

    section {
      margin-bottom: 16px;
    }

    hr {
      border: none;
      border-top: 1px solid $border-grey-ec;
      margin: 16px 0;
    }
  }
}