@use "../utils/variables" as *;

.terms-and-privacy-modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.25);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;

  &.open {
    opacity: 1;
    pointer-events: auto;
  }

  &__container {
    position: relative;
    background: $white;
    border-radius: 16px;
    max-width: 1280px;
    width: 100%;
    max-height: 90vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    transform: scale(0.95);
    opacity: 0;
    transition: transform 0.25s ease, opacity 0.25s ease;

    .open & {
      transform: scale(1);
      opacity: 1;
    }

    @media (min-width: 640px) {
      margin: auto;
      padding: 40px 64px;
    }

    &__title {
      font-family: Inter;
      font-weight: 600;
      font-size: $fs-24;
      text-align: center;

      @media (min-width: 1024px) {
        font-size: $fs-32;
      }
    }

    &__description {
      font-family: Inter;
      font-weight: 400;
      font-size: $fs-14;
      text-align: center;
      color: $text-secondary-light;

      @media (min-width: 1024px) {
        font-size: $fs-16;
      }
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: $text-secondary-light;
  }

  &--body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
    padding: 0 16px;

    max-height: calc(90vh - 100px);
    overflow-y: auto;

    section {
      margin-bottom: 16px;
    }

    hr {
      border: none;
      border-top: 1px solid $border-grey-ec;
      margin: 16px 0;
    }
  }
}