<div class="form-stepper form-stepper__container">
    <div class="form-stepper__steps">
        <a href="/estimation-generation-step-1.html" class="form-stepper__steps-step">
            <div class="form-stepper__steps-step-img">
                <img src="images/icons/form-stepper/step-1-filled-icon.svg" alt="step-1-icon">
            </div>
            <div>
                <div class="form-stepper__steps-step-title">Client Info</div>
            </div>
        </a>
        <div class="form-stepper__steps-divider">
            <div class="form-stepper__steps-divider-filled"></div>
        </div>
        <a href="/estimation-generation-step-2.html" class="form-stepper__steps-step">
            <div class="form-stepper__steps-step-img">
                <img src="images/icons/form-stepper/step-2-filled-icon.svg" alt="step-1-icon">
            </div>
            <div>
                <div class="form-stepper__steps-step-title">Project Details</div>
            </div>
        </a>
        <div class="form-stepper__steps-divider">
            <div class="form-stepper__steps-divider-filled"></div>
        </div>
        <a href="/estimation-generation-step-3.html" class="form-stepper__steps-step">
            <div class="form-stepper__steps-step-img">
                <img src="images/icons/form-stepper/step-3-active-icon.svg" alt="step-1-icon">
            </div>
            <div>
                <div class="form-stepper__steps-step-title-active">Estimation Settings</div>
            </div>
        </a>
        <div class="form-stepper__steps-divider">
            <div class="form-stepper__steps-divider-active"></div>
        </div>
        <div class="form-stepper__steps-step">
            <div class="form-stepper__steps-step-img">
                <img src="images/icons/form-stepper/step-4-icon.svg" alt="step-1-icon">
            </div>
            <div>
                <div class="form-stepper__steps-step-title">Estimation Details</div>
            </div>
        </div>
        <div class="form-stepper__steps-divider">
        </div>
        <div class="form-stepper__steps-step">
            <div class="form-stepper__steps-step-img">
                <img src="images/icons/form-stepper/step-5-icon.svg" alt="step-1-icon">
            </div>
            <div>
                <div class="form-stepper__steps-step-title">Save & Export</div>
            </div>
        </div>
    </div>
</div>