<nav>
    <ul class="bottom-navbar__list">
        <li class="bottom-navbar__list-item flex justify-between">
            <div>
                <a href="#">
                    <button class="bottom-navbar__list-item-button">
                        <div class="bottom-navbar__list-item-button-icon">
                            <img src="images/icons/folders-icon.png">
                        </div>
                    </button>
                </a>
            </div>
        </li>
        <li class="bottom-navbar__list-item flex justify-between">
            <div>
                <a href="#">
                    <button class="bottom-navbar__list-item-button">
                        <div class="bottom-navbar__list-item-button-icon">
                            <img src="images/icons/clients-icon.png">
                        </div>
                    </button>
                </a>
            </div>
        </li>
        <li class="bottom-navbar__list-item flex justify-between">
            <div>
                <a href="#">
                    <button class="bottom-navbar__list-item-button">
                        <div class="bottom-navbar__list-item-button-icon">
                            <img src="images/icons/files-icon.png">
                        </div>
                    </button>
                </a>
            </div>
        </li>
        <li class="bottom-navbar__list-item flex justify-between">
            <div>
                <a href="#">
                    <button class="bottom-navbar__list-item-button">
                        <div class="bottom-navbar__list-item-button-icon">
                            <img src="images/icons/templates-icon.png">
                        </div>
                    </button>
                </a>
            </div>
        </li>
        <li class="bottom-navbar__list-item flex justify-between">
            <div>
                <a href="#">
                    <button class="bottom-navbar__list-item-button">
                        <div class="bottom-navbar__list-item-button-icon">
                            <img src="images/icons/ai-settings-icon.png">
                        </div>
                    </button>
                </a>
            </div>
        </li>
        <li class="bottom-navbar__list-item flex justify-between">
            <div>
                <a href="#">
                    <button class="bottom-navbar__list-item-button">
                        <div class="bottom-navbar__list-item-button-icon">
                            <img src="images/icons/audio-icon.png">
                        </div>
                    </button>
                </a>
            </div>
        </li>
    </ul>
</nav>