<div id="contactUsModal"
     class="contactUsModal custom-modal-overlay fixed inset-0 bg-black/25 hidden z-50">
    <div class="contactUsModal__container custom-modal-container" onclick="event.stopPropagation()">
        <button onclick="openModal(false)"
                class="custom-modal-close">
            ✕
        </button>

        <div class="flex flex-col text-center gap-4">
            <h2 class="contactUsModal__container__title">Contact us</h2>
            <p class="contactUsModal__container__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>

        <form class="w-full contactUsModal__form">
            <div class="contactUsModal__inputs">
                <label class="contactUsModal__inputs__label">First Name</label>
                <input type="text"
                       name="firstName"
                       class="contactUsModal__inputs__input"/>
            </div>

            <div class="contactUsModal__inputs">
                <label class="contactUsModal__inputs__label">Email</label>
                <input type="email"
                       name="email"
                       class="contactUsModal__inputs__input"/>
            </div>

            <div class="contactUsModal__inputs">
                <label class="contactUsModal__inputs__label">Message</label>
                <textarea rows="4" placeholder="Type your message..."
                          class="contactUsModal__inputs__textarea"></textarea>
            </div>

            <div class="flex flex-row flex-nowrap gap-2">
                <input name="isAgree" type="checkbox" id="agree"
                       class="contactUsModal__inputs__checkbox accent-purple-600"/>
                <label for="agree" class="contactUsModal__inputs__checkbox-label cursor-pointer">
                    I agree to the <a onclick="openTermsModal(true, event)"
                                      class="contactUsModal__inputs__checkbox-label-link">Terms & Privacy</a>
                </label>
            </div>

            <button type="submit"
                    class="contactUsModal__submit-button">
                Submit
            </button>
        </form>
    </div>
</div>
