<nav class="popup-menu__item">
    <ul class="popup-menu__list">
        <li class="popup-menu__list-item flex justify-between">
            <div>
                <a href="#">
                    <div class="popup-menu__list-item-icon mr-2">
                        <img src="images/icons/eye-icon.svg" alt="eye">
                    </div>
                    <div>View</div>
                </a>
            </div>
            <div>
                <img class="popup-menu__list-item-icon m-0" src="images/icons/cancel-icon.svg" alt="cancel">
            </div>
        </li>
        <li class="popup-menu__list-item">
            <div>
                <a href="#">
                    <div class="popup-menu__list-item-icon mr-2">
                        <img src="images/icons/copy-icon.svg" alt="copy">
                    </div>
                    <div>Copy</div>
                </a>
            </div>
        </li>
        <li class="popup-menu__list-item">
            <div>
                <a href="#">
                    <div class="popup-menu__list-item-icon mr-2">
                        <img src="images/icons/edit-icon.svg" alt="edit">
                    </div>
                    <div>Edit</div>
                </a>
            </div>
        </li>
    </ul>
</nav>