<div class="table-filter table-filter--popup">
    <form class="table-filter__form" id="filterForm">
        <div class="table-filter__field">
            <label class="table-filter__label" for="nameFilter">Name</label>
            <input class="table-filter__input" type="text" id="nameFilter" placeholder="Filter by Name">
        </div>

        <div class="table-filter__field">
            <label class="table-filter__label" for="timeFilter">Time</label>
            <input class="table-filter__input" type="number" id="timeFilter" placeholder="Filter by Time">
        </div>

        <div class="table-filter__field">
            <label class="table-filter__label" for="amountFilter">Total Amount</label>
            <input class="table-filter__input" type="number" id="amountFilter" placeholder="Filter by Total Amount">
        </div>

        <div class="table-filter__actions">
            <button class="table-filter__btn" type="button" id="applyFilter">Apply</button>
            <button class="table-filter__btn table-filter__btn--cancel" type="button" id="cancelFilter">Cancel</button>
        </div>
    </form>
</div>