@use "../utils/variables" as *;

.auth {
  font-family: Inter, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;

    background-image: radial-gradient(50% 50% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(0deg, rgba(240, 240, 255, 0.14) 0%, rgba(240, 240, 255, 0.14) 100%),
    url("/images/auth/auth-background-mobile.png");

    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-width: 640px) {
    &::before {
      background-image: radial-gradient(50% 50% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0) 100%),
      linear-gradient(0deg, rgba(240, 240, 255, 0.14) 0%, rgba(240, 240, 255, 0.14) 100%),
      url("/images/auth/auth-background.png");
    }
  }

  &__header {
    padding: 10px 20px;
    text-align: left;

    @media (min-width: 640px) {
      padding: 20px 48px 5px 48px;
    }
  }

  &__logo {
    color: $purple-text-color;
    font-family: Inter;
    font-size: $fs-18;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */

    @media (min-width: 640px) {
      color: $purple-text-color;
      font-family: Inter;
      font-size: $fs-24;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 36px */
    }
  }

  &__main {
    margin: auto 0;
    justify-content: center;

    display: flex;
    padding: 0 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__card {
    width: 100%;
    display: flex;
    padding: 20px 21px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: center;

    border-radius: 12px;
    border: 1px solid rgba(154, 2, 219, 0.25);
    background: $white;
    box-shadow: 0 4px 10.6px -2px rgba(118, 25, 158, 0.16);

    @media (min-width: 640px) {
      display: flex;
      padding: 40px;
      justify-content: center;
      align-items: center;
      gap: 8px;

      border-radius: 12px;
      border: 1px solid rgba(154, 2, 219, 0.25);
      background: $white;
      box-shadow: 0 4px 10.6px -2px rgba(118, 25, 158, 0.16);

      max-width: 493px;
    }
  }

  &__footer {
    position: static;
    margin-top: auto;
    padding: 24px 0;
    text-align: center;
    font-size: $fs-13;
    color: $text-gray-500;
  }
}

.auth-footer__inner {
  display: grid;
  gap: 16px;
  grid-template-columns: 2fr 2fr;

  color: $text-muted;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  text-align: center;
  justify-content: center;
  justify-self: center;

  @media (min-width: 640px) {
    color: $text-muted;

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  & > *:first-child {
    grid-column: 1 / -1;
  }

  @media (min-width: 640px) {
    display: flex;
    justify-content: center;

    & > *:first-child {
      grid-column: auto;
    }
  }

  a {
    color: $black-333-short;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;

    @media (min-width: 640px) {
      color: $black-333-short;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}


// Text
.auth-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 24px;

  @media (min-width: 640px) {
    margin-bottom: 32px;
    padding-top: 0px;
  }

  &__title {
    color: $black-333-short;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.1px;

    @media (min-width: 640px) {
      color: $black-333;
      font-size: 32px;
      font-family: Inter;
      font-weight: 600;
      line-height: 42px;
      overflow-wrap: break-word
    }
  }

  &__subtitle {
    color: $text-muted;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    @media (min-width: 640px) {
      color: $text-muted;
      font-size: 14px;
      font-family: Inter;
      font-weight: 400;
      line-height: 20px;
      overflow-wrap: break-word
    }
  }
}


//Form
.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
  }

  &__label {
    color: $text-muted;
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
    line-height: 20px;
    overflow-wrap: break-word;

    @media (min-width: 640px) {
      color: $text-muted;
      font-size: 14px;
      font-family: Inter;
      font-weight: 500;
      line-height: 20px;
      overflow-wrap: break-word
    }
  }

  &__input {
    width: 100%;
    display: flex;
    padding: 9px 12px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid $border-soft-blue;
    background: #FFF;
    // color: $text-muted;
    // color: $text-gray-600;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.091px;

    @media (min-width: 640px) {
      display: flex;
      padding: 9px 12px;
      align-items: center;
      gap: 12px;
      align-self: stretch;
      border-radius: 8px;
      border: 1px solid $border-soft-blue;
      background: #FFF;
      // color: $text-muted;
      // color: $text-gray-600;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.098px;
    }

    &:focus {
      border-color: $purple-text-color;
      outline: none;
    }

    &::placeholder {
      // color: $text-muted;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.091px;

      @media (min-width: 640px) {
        // color: $text-muted;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.098px;
      }
    }
  }

  &__checkbox {
    width: 18px;
    height: 18px;

    border-radius: 4px;
    background: var(--Color-Neutral-white, #FFF);

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid $purple-text-color;
    transition: all 0.2s ease;
    position: relative;


    &:checked {
      background-color: var(--colors-background-bg-brand-solid, #6855E8);
      border: 1px solid var(--colors-background-bg-brand-solid, #6855E8);

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%) rotate(45deg);
        width: 6px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
      }
    }

    &__label {
      color: #391952;
      font-family: Roboto;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      @media (min-width: 640px) {
        color: #391952;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
      }
    }
  }

  &__password-wrapper {
    position: relative;
    width: 100%;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__actions-row {
    text-align: right;
    margin-bottom: 16px;
  }

  &__link {
    color: $purple-text-color;
    text-align: right;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    @media (min-width: 640px) {
      color: $purple-text-color;
      text-align: right;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__link--thin {
    color: $purple-text-color;
    font-size: 13px;
    font-family: Roboto;
    font-weight: 400;
    text-decoration: underline;
    line-height: 19.50px;

    @media (min-width: 640px) {
      color: $purple-text-color;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  // Buttons
  &__button {
    display: flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 12px;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.065px;

    @media (min-width: 640px) {
      display: flex;
      padding: 10px 14px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      align-self: stretch;

      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.07px;
    }

    &--primary {
      background: linear-gradient(299deg, $purple-text-color 16.39%, $brand-accent 81.05%), $purple-text-color;
      color: #FFF;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.065px;
      margin-bottom: 16px;


      @media (min-width: 640px) {
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.07px;

        background: $gradient-primary, $purple-text-color;
        color: $white;
      }

      &:hover {
        background: $brand-accent-strong;
      }
    }

    &--google {
      display: flex;
      padding: 10px 14px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      align-self: stretch;

      color: $text-muted;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.065px;

      border-radius: 12px;
      border: 1px solid $grey-color-light;

      @media (min-width: 640px) {
        display: flex;
        padding: 10px 14px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        align-self: stretch;

        border-radius: 12px;
        border: 1px solid $grey-color-light;

        color: $text-muted;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.07px;
      }

      &:hover {
        background: #E5E7EB;
      }

      img {
        display: flex;
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
      }
    }
  }

  &__signup-text {
    font-family: Inter;
    font-size: $fs-13;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: $black-333-short;
    text-align: center;
    margin-bottom: 16px;

    @media (min-width: 640px) {
      font-family: Inter;
      font-size: $fs-14;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

    a {
      font-weight: 500;
    }
  }
}

// Divider
.auth-divider {
  color: var(--Grey-grey-500, $text-muted);
  font-family: "Public Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.065px;
  position: relative;
  margin-bottom: 16px;
  text-align: center;

  @media (min-width: 640px) {
    color: var(--Grey-grey-500, $text-muted);
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
  }

  &::before,
  &::after {
    content: "";
    height: 1px;
    width: 45%;
    background: $grey-color-light;
    position: absolute;
    top: 50%;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}