@use "../utils/variables" as *;

.site-footer {
  flex-direction: column;
  align-items: start;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  gap: 40px;
  background: #1F1228;

  @media (min-width: 1024px) {
    display: flex;
    gap: 80px;
    padding-top: 80px;
    padding-right: 64px;
    padding-bottom: 80px;
    padding-left: 64px;
  }

  &__inner {
    width: 100%;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: start;
    gap: 32px;
    margin-bottom: 40px;

    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: center;
    }

    &-logo-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;

      @media (min-width: 1024px) {
        font-size: 24px;
      }
    }

    &-nav {
      display: flex;

      &__list {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24px;
        list-style: none;
        margin: 0;
        padding: 0;
        color: #FFFFFF;

        @media (min-width: 1024px) {
          flex-direction: row;
          gap: 32px;
          align-items: center;
        }

      }

      &__item {

      }

      &__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;

        &:hover {
          color: $primary-color;
        }

        @media (min-width: 1024px) {
          font-size: 16px;
        }
      }
    }

    &__social {
      display: flex;
      justify-self: center;
      margin: auto;
      gap: 12px;


      @media (min-width: 1024px) {
        margin: 0px;
      }

      &-image {
        width: 20px;
        height: 20px;

        @media (min-width: 1024px) {
          margin: 0px;
          width: 24px;
          height: 24px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 33px;
    border-top: 1px solid rgba(255, 255, 255, 0.33);

    @media (min-width: 1024px) {
      flex-wrap: nowrap;
    }

    &-info {
      display: flex;
      width: 100%;
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
      color: #FFFFFF;

      @media (min-width: 1024px) {
        width: 50%;
        font-size: 14px;
      }
    }

    &-privacy-pages {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      @media (min-width: 1024px) {
        justify-content: right;
        gap: 24px;
      }

      a {
        font-weight: 400;
        font-size: 13px;
        line-height: 150%;
        text-decoration: underline;
        text-decoration-style: solid;
        color: #FFFFFF;

        @media (min-width: 1024px) {
          font-size: 14px;
        }
      }
    }
  }
}