@use "../utils/variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

section, div[id] {
  scroll-margin-top: 80px;
}

.site-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

