@use "../utils/variables" as *;

.site-header {
  box-sizing: border-box;
  height: 72px;
  border-bottom-width: 1px;
  border-bottom: 1px solid #F5EDFF;
  background: #ffffff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;

  @media (min-width: 1150px) {
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


    @media (min-width: 1150px) {
      padding-right: 80px;
      padding-left: 80px;
    }
  }

  &__inner--stretch {
    max-width: 100%;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7D55BE;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;

    @media (min-width: 1024px) {
      font-size: 24px;
    }
  }

  &__nav {

  }

  &__auth-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__user-icon {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.main-nav {
  &__list {
    display: none;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: 1024px) {
      display: flex;
    }
  }

  &__item {

  }

  &__link {
    font-family: Inter;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #333333;

    &:hover {
      color: $primary-color;
      //color: $purple-light-text-color;
    }

    &-active {
      color: #63428D;
      //color: $primary-color;
      font-weight: 700;
    }
  }
}

.mobile-menu {
  position: absolute;
  z-index: 99999;
  flex-direction: column;
  left: 20px;
  right: 20px;
  top: 84px;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.05);
  background: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #727A90;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-item {
      padding-top: 8px;
      padding-right: 16px;
      padding-bottom: 8px;
      padding-left: 16px;
      border-radius: 8px;

      &__active-link {
        background: #F1E7F8;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #6409A7;
      }

      &-button {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        button {
          min-width: 132px;
        }
      }
    }
  }
}