@use "../utils/variables" as *;

html {
  scrollbar-gutter: stable;
}

body.modal-open {
  overflow: hidden;
  padding-right: var(--scrollbar-width, 0px);
}

.site-main {
  /* min-height: calc(100vh - 72px - 160px);*/
  box-sizing: border-box;

  margin-bottom: 72px;

  @media (min-width: 1024px) {
    margin-bottom: 0;
    min-height: calc(100vh - 72px - 160px);
  }

  &__content {
    width: 100%;
    /*  max-width: 1440px; */
    margin: 0 auto;

    &--landing {
      background-color: #fff;
    }

    &--page {
    }

    &--blog {

    }
  }
}