@use "../../utils/variables" as *;

.dashboard {
  background: #FDFDFF;

  &__sidebar {
    display: none;
    background: linear-gradient(180.02deg, #F1F4FA 57.05%, #FAF6FC 99.98%);
    /*   min-height: calc(100vh - 72px - 160px); */
    box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.05);
    padding: 24px 15px 24px 15px;

    @media (min-width: 1024px) {
      min-height: calc(100vh - 72px - 160px);
    }

    > div {
      position: sticky;
      top: 95px;
      height: 100%;
      max-height: calc(100vh - 120px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-image {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }

    ul {

    }

    li {
      width: 220px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #5E6166;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-right: 2px;
      }

      a {
        display: flex;
        flex: 1;
        width: 100%;
      }

      &:hover {
        background: $white-bg;
        box-shadow: 1px 1px 10px #e7e7e7;
      }
    }

    &-active {
      background: $white;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: $brand-accent !important;
    }

    a {
      text-decoration: none;
    }

    @media (min-width: 1024px) {
      display: flex;
    }
  }

  &__content, &__table-content, &__block-content {
    max-width: 1033px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
    border-radius: 12px;
    background: $white;

    @media (min-width: 1024px) {
      box-shadow: $shadow-soft-hex;
      border: 1px solid $border-light;
    }

    @media (min-width: 1340px) {
      margin: auto;
      background: $white-bg;
      /*  margin-left: 50px;
        margin-right: 80px; */
      margin-top: 40px;
      margin-bottom: 40px;
      height: fit-content;
    }
  }

  &__contents {
    max-width: 1033px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
    border-radius: 12px;
    background: $white;

    @media (min-width: 1340px) {
      margin: auto;
      background: $white-bg;
      box-shadow: $shadow-soft-hex;
      margin-top: 40px;
      margin-bottom: 40px;
      height: fit-content;
    }
  }

  &__table-content {
    @media (min-width: 1024px) {
      padding: 24px;
    }
  }

  &__content-item {
    width: 100%;
    background: $white;

    @media (min-width: 1340px) {
      margin: auto;
      background: $white-bg;
      box-shadow: $shadow-soft-hex;
      //margin-top: 24px;
      // margin-bottom: 24px;
      height: fit-content;
    }

    &--border {
      box-shadow: $shadow-soft-hex;
      border: 1px solid $border-light;
    }

    &--border-radius-up {
      border-radius: 12px;

      @media (min-width: 640px) {
        border-radius: 12px 12px 0 0;
      }
    }

    &--border-only-desktop {
      @media (min-width: 640px) {
        box-shadow: $shadow-soft-hex;
        border-left: 1px solid $border-light;
        border-right: 1px solid $border-light;
        border-bottom: 1px solid $border-light;
        border-radius: 0 0 12px 12px;
      }
    }

    &__inner {
      @media (min-width: 640px) {
        display: flex;
        padding: 28px 24px 32px 24px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
      }
    }
  }

  &__block-content {
    @media (min-width: 1024px) {
      display: flex;
      padding: 8px 24px 32px 24px;
      flex-direction: column;
      align-items: flex-start;
      /* gap: 16px;*/
      align-self: stretch;
    }
  }

  &__content {
    box-shadow: $shadow-soft-hex;
    border: 1px solid $border-light;
  }

  &__colored-background {
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    background: radial-gradient(73.11% 101.38% at 83.84% 0%, rgba(229, 229, 255, 0.5) 0%, rgba(255, 242, 245, 0.5) 60.9%, rgba(255, 255, 255, 0.5) 100%),
    radial-gradient(76.77% 221.14% at 0.45% 98.81%, rgba(229, 236, 255, 0.5) 0%, rgba(242, 250, 255, 0.5) 60.9%, rgba(255, 255, 255, 0) 100%),
    radial-gradient(35.52% 95.99% at 97.92% 144.66%, rgba(229, 229, 255, 0.5) 0%, rgba(255, 242, 245, 0.5) 60.9%, rgba(255, 255, 255, 0) 100%);
    border-bottom: 1px solid #DFE7EF;
  }
}