@use "../../utils/variables" as *;

.how-it-works {
  display: flex;
 /* padding-right: clamp(20px, 5vw, 80px);
  padding-left: clamp(20px, 5vw, 80px); */
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: center;

  @media (min-width: 620px) {
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: 1024px) {
    padding-right: 0;
    padding-left: 0;
  }

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding-right: clamp(20px, 5vw, 80px);
    padding-left: clamp(20px, 5vw, 80px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1024px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: center;
    color: $black-333;

    @media (min-width: 1024px) {
      font-size: 58px;
    }

  }

  &__images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 89vw;


    @media (min-width: 720px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1440px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__image-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    @media (min-width: 1024px) {
      margin-bottom: 0px;
    }

    &-image {
      width: 302px;
      height: 260px;
      border: #9A02DB40 solid 1px;
      border-radius: 16px 16px 0 0;
      border-bottom-width: 0px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
      }
    }

    &-text {
      padding-top: 20px;
      padding-bottom: 24px;
      border-left: 1px solid #9A02DB40;
      border-right: 1px solid #9A02DB40;
      border-bottom: 1px solid #9A02DB40;
      border-radius: 0 0 16px 16px;
      box-shadow: 0px 16px 28.8px -12px #0DB29D1A;

      &-title {
        padding: 0 24px;
        font-weight: 700;
        font-size: 20px;
        color: $primary-color;
        margin-bottom: 8px;
        text-align: left;
      }

      &-description {
        padding: 0 24px;
        font-weight: 400;
        font-size: 16px;
        color: $black-333;
        text-align: left;
        justify-self: left;
      }
    }
  }

  &__pagination {
    display: flex;
    border-top: 1px solid $border-white-soft;
    width: 100%;
    justify-content: end;
    padding-top: 19px;

    @media (min-width: 1024px) {
      display: none;
    }

    &-buttons {
      display: flex;
      align-items: center;
      gap: 20px;

      &-elements {
        display: flex;
        gap: 7px;

        &-prev {

        }

        &-next {

        }
      }
    }
  }
}