@use "../../utils/variables" as *;

.text-block {
  display: flex;


  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    font-weight: 600;
    font-size: $fs-24;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: center;
    color: $black-333;

    @media (min-width: 1024px) {
      font-size: $fs-40;
    }

  }

  &__description {
    font-weight: 400;
    font-size: $fs-14;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: center;
    color: $text-gray-666;

    @media (min-width: 1024px) {
      font-size: $fs-16;
    }
  }
}

.label-block {
  display: flex;
  align-items: center;
  height: 43px;
  padding: 12px 22px;
  border: 1px solid $border-purple-50;
  border-radius: 33px;
  box-shadow: $shadow-teal-soft;
  background:
          radial-gradient(67.49% 103.22% at 85.9% -17.47%, rgba(211, 211, 255, 0.35) 0%, rgba(255, 226, 233, 0.35) 60.9%, rgba(255, 255, 255, 0.175) 100%),
          radial-gradient(38.57% 154.5% at 0.45% 98.81%, rgba(198, 214, 255, 0.35) 0%, rgba(234, 247, 255, 0.35) 60.9%, rgba(255, 255, 255, 0) 100%),
          radial-gradient(35.52% 95.99% at 97.92% 144.66%, rgba(204, 203, 255, 0.35) 0%, rgba(255, 214, 224, 0.35) 60.9%, rgba(255, 255, 255, 0) 100%);

  &__container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__text {
    font-size: $fs-13;
    line-height: normal;
    font-weight: 500;
    letter-spacing: 0;
    color: $brand-accent;

    @media (min-width: 1024px) {
      font-size: $fs-16;
    }
  }
}