@use "../../utils/variables" as *;

.pricing {
  background: $bg-offwhite;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: 1024px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;

    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1024px) {
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    gap: 32px;
    border-radius: 16px;
    border-width: 1px;
    border: 1px solid $border-white-soft;
    background: $white;
    justify-content: center;

    @media (min-width: 1024px) {
      padding: 60px;
    }
  }

  &__items-item {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
      max-width: 560px;
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 32px;
      align-items: center;

      @media (min-width: 1024px) {
        margin-bottom: 48px;
        align-items: start;
      }

      &-title {
        font-weight: 600;
        font-size: $fs-24;
        color: $black-333;

        @media (min-width: 1024px) {
          font-size: $fs-40;
        }
      }

      &-description {
        display: flex;
        font-weight: 400;
        font-size: $fs-13;
        color: $text-gray-666;
        text-align: center;

        @media (min-width: 1024px) {
          font-size: $fs-16;
          text-align: left;
        }
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      @media (min-width: 1024px) {
        justify-content: start;
      }

    }

    &-price {
      margin-bottom: 48px;

      &-block {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        &-value {
          font-weight: 600;
          font-size: 32px;
          color: $black-333;
          margin-right: 5px;
        }

        &-per-text {
          font-weight: 500;
          font-size: 14px;
          color: $text-gray-666;
        }
      }

      &-description {
        font-weight: 500;
        font-size: 16px;
        color: $brand-accent;

        span {
          font-weight: 800;

        }
      }

    }

    &-pricing__items-item {
      display: flex;
    }
  }

  &__items-colored-item {
    justify-content: space-between;
    padding: 20px;
    border-radius: 12px;
    border-bottom-width: 1px;
    background: linear-gradient(10.08deg, rgba(229, 167, 255, 0.7) -2.98%, rgba(229, 167, 255, 0) 85.76%),
    radial-gradient(97.69% 97.69% at -14.86% 0%, rgba(245, 237, 255, 0) 0%, rgba(245, 237, 255, 0.4) 100%),
    linear-gradient(180.14deg, rgba(255, 255, 255, 0) 53.84%, rgba(255, 255, 255, 0.5) 99.88%);

    @media (min-width: 1024px) {
      padding: 32px;
      max-width: 560px;
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 24px;

      &-title {
        font-weight: 700;
        font-size: 20px;
        color: $brand-accent;
      }

      &-description {
        font-weight: 400;
        font-size: 14px;
        color: $black-333;

        @media (min-width: 1024px) {
          font-size: 16px;
        }
      }
    }

    &-ul-block {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
      border-radius: 8px;
      border-width: 1px;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      border: 1px solid #D2DFDB80;
      background: $white;
      box-shadow: 0px 16px 28.8px -12px #0DB29D1A;

      @media (min-width: 1024px) {
        padding-top: 40px;
        padding-right: 24px;
        padding-bottom: 40px;
        padding-left: 24px;
      }

      &-li {
        display: flex;
        font-size: 14px;

        @media (min-width: 1024px) {
          font-size: 16px;
        }

        &-img {
          display: flex;
          width: 20px;
          height: 28px;
          margin-right: 10px;
          margin-top: 3px;
          flex-shrink: 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}