@use "../../utils/variables" as *;

.process-in-actions {
  gap: 48px;
  padding-top: 80px;
  padding-right: clamp(20px, 5vw, 200px);
  padding-bottom: 80px;
  padding-left: clamp(20px, 5vw, 200px);
  background: #F9FAFD;

  @media (min-width: 1024px) {
    padding-bottom: 100px;
    padding-right: 200px;
    padding-left: 200px;
  }


  &__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    color: #333333;

    @media (min-width: 1024px) {
      text-align: center;
    }
  }

  &__video-item {
    display: flex;
    align-self: center;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;

    &-video {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 10;
      max-width: 90vw;

      @media (min-width: 1024px) {
        max-width: 1040px;
      }

      video {
        height: 240px;
        background: black;
        width: 100%;
        border-radius: 16px;
        border-bottom-width: 1px;

        @media (min-width: 1024px) {
          height: 693px;
        }

      }

      .video-play-btn {
        position: absolute;
        top: 45%;
        left: 49%;
        transform: translate(-45%, -49%);
        cursor: pointer;
        z-index: 999999;
        transition: opacity 0.3s ease;

        @media (min-width: 1024px) {
          top: 48%;
          left: 50%;
          transform: translate(-48%, -50%);
        }

        .video-play-btn.hidden {
          opacity: 0;
          pointer-events: none;
        }
      }
    }

    &-box {
      display: flex;
      position: relative;
      z-index: 0;
      margin: auto;
      top: -50px;
      border: 1px solid rgba(154, 2, 219, 0.25);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 53.84%, rgba(255, 255, 255, 0.50) 99.88%), radial-gradient(100.83% 99.27% at -14.86% 0%, rgba(245, 237, 255, 0.00) 0%, rgba(245, 237, 255, 0.20) 100%), linear-gradient(10deg, rgba(229, 167, 255, 0.50) -2.98%, rgba(229, 167, 255, 0.00) 85.76%);
      height: 64px;
      border-radius: 12px;
      width: calc(100% + 20px);
      left: -10px;

      @media (min-width: 1024px) {
        left: 0;
        width: calc(100% - 40px);
        max-width: 992px;
      }
    }
  }

}