@use "../../utils/variables" as *;

.professional-ai-estimation-generator {
  display: flex;
  padding-top: 124px;
  padding-bottom: 124px;

  /*background-image: linear-gradient(to bottom,
          rgba(255, 255, 255, 0.2) 0%,
          rgba(255, 255, 255, 0.6) 30%,
          rgba(255, 255, 255, 0.9) 90%,
          rgba(255, 255, 255, 1) 100%
  ),
  url('/images/landing/professional-ai-estimation-generator.png');
  */

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 83.01%, #FFF 100%), radial-gradient(186.97% 50% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0.00) 100%), url('/images/landing/professional-ai-estimation-generator.png') lightgray -104.893px 0px / 346.434% 100% no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: 1024px) {
    background: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)),
    linear-gradient(180deg, rgba(255, 255, 255, 0) 83.01%, #FFF 100%),
    radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%),
    url('/images/landing/professional-ai-estimation-generator.png') 50% / cover no-repeat,
    lightgray;

    padding-top: 140px;
    padding-bottom: 140px;
  }

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;

    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1024px) {
      padding-left: 220px;
      padding-right: 220px;
    }

    & > * {
      margin-bottom: 50px;
    }

    & > *:first-child {
      margin-bottom: 16px;
    }

  }

  &__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: center;
    color: #333333;

    @media (min-width: 1024px) {
      font-size: 58px;
    }
  }

  &__buttons {
    display: flex;
    gap: 28px;
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 1024px) {
      gap: 14px;
      flex-direction: row;
    }
  }
}