@use "../../utils/variables" as *;

.take-closer-look {
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: radial-gradient(
                  82.88% 50% at 50% 50%,
                  rgba(245, 237, 255, 0.4) 0%,
                  rgba(255, 255, 255, 0) 100%
  );

  @media (min-width: 1024px) {
    gap: 48px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;

    padding-right: 20px;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1024px) {
      padding-right: 80px;
      padding-left: 80px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;

    @media (min-width: 1024px) {
      margin-bottom: 80px;
    }
  }

  &__items-item {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
    border-width: 1px;
    border: 1px solid #D2DFDB80;
    width: 335px;

    @media (min-width: 1024px) {
      padding-top: 24px;
      padding-bottom: 24px;
      width: 416px;
    }

    &-text {
      &-title {
        display: flex;
        padding: 0 24px;
        font-weight: 700;
        font-size: 15px;
        color: #58397F;
        margin-bottom: 8px;
        text-align: left;

        @media (min-width: 1024px) {
          font-size: 20px;
        }

        img {
          margin: auto 0;
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }

      &-description {
        padding: 0 24px;
        font-weight: 400;
        font-size: 13px;
        color: #333333;
        text-align: left;
        justify-self: left;

        @media (min-width: 1024px) {
          font-size: 16px;
        }
      }
    }
  }

  &__image {
    max-width: 1268px;
    max-height: 760px;
    margin-bottom: 40px;

    @media (min-width: 1024px) {
      margin-bottom: 40px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__buttons {
    display: flex;
    gap: 14px;
  }

}