@use "../../utils/variables" as *;

.testimonials {
  gap: 48px;
  padding-top: 40px;
  padding-bottom: 80px;

  @media (min-width: 1024px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;

    padding-right: 20px;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1024px) {
      padding-right: 80px;
      padding-left: 80px;
    }

  }

  &__items {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    margin-bottom: 34px;
    justify-content: left;
    overflow: hidden;
    scroll-behavior: smooth;
    max-width: 300px;

    @media (min-width: 375px) {
      max-width: 340px;
    }

    @media (min-width: 700px) {
      max-width: 680px;
    }


    @media (min-width: 1024px) {
      max-width: 850px;
      gap: 26px;
    }

    @media (min-width: 1280px) {
      max-width: 1280px;
    }
  }

  &__items-item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 300px;
    padding: 22px;
    border-radius: 14px;
    border-width: 1px;
    border: 1px solid #D2DFDB80;

    @media (min-width: 375px) {
      width: 330px;
    }

    @media (min-width: 1024px) {
      width: 408px;
    }

    &-text {
      margin-bottom: 12px;

      &-description {
        font-weight: 400;
        font-size: 14px;
        color: $text-gray-666;
        text-align: left;
        justify-self: left;
        margin-bottom: 18px;

        @media (min-width: 1024px) {
          font-size: 16px;
        }
      }


      &-main {
        display: flex;

        &-avatar {
          margin: auto 0;
          margin-right: 10px;
          width: 38px;
          height: 38px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-title-block {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          &-name {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0px;
            color: #4C4C4C;

            @media (min-width: 1024px) {
              font-size: 16px;
            }
          }

          &-company {
            font-weight: 500;
            font-size: 13px;
            line-height: 150%;
            letter-spacing: 0px;
            color: $primary-color;

            @media (min-width: 1024px) {
              font-size: 16px;
            }
          }
        }
      }

      &-title {
        display: flex;
        padding: 0 24px;
        font-weight: 700;
        font-size: 20px;
        color: $primary-color;
        margin-bottom: 8px;
        text-align: left;
      }
    }

    &-rating {
      display: flex;
      justify-content: space-between;

      &-marks {
        display: flex;
        align-items: center;
        gap: 8px;

        &-star {
          width: 18px;
          height: 18px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &-button {
      }
    }
  }

  &__pagination {
    display: flex;
    border-top: 1px solid $border-white-soft;
    width: 100%;
    justify-content: space-between;
    padding-top: 19px;

    &-text {
      font-weight: 500;
      font-size: 14px;
      color: #808080;

      span {
        font-weight: 600;
        font-size: 14px;
        color: $purple-text-color;
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      gap: 20px;

      &-number {
        display: flex;
        width: 67px;
        gap: 10px;
        padding-top: 4px;
        padding-right: 22px;
        padding-bottom: 4px;
        padding-left: 22px;
        border-radius: 47px;
        border-width: 1px;
        background: $bg-blue-25;
        border: 1px solid $border-blue-50;
        font-weight: 500;
        font-size: 14px;
        line-height: 148%;
        letter-spacing: 0px;
        color: $text-gray-666;
      }

      &-elements {
        display: flex;
        gap: 7px;

        &-prev {

        }

        &-next {

        }

      }

    }
  }

}