<nav>
    <ul class="bottom-navbar__list">
        <li class="bottom-navbar__list-item flex justify-between">
            <div>
                <a href="/estimations.html">
                    <button class="bottom-navbar__list-item-button">
                        <div class="bottom-navbar__list-item-button-icon">
                            <img src="images/icons/folders-icon.svg" alt="folders">
                        </div>
                    </button>
                </a>
            </div>
        </li>
        <li class="bottom-navbar__list-item flex justify-between">
            <div>
                <a href="#">
                    <button class="bottom-navbar__list-item-button">
                        <div class="bottom-navbar__list-item-button-icon">
                            <img src="images/icons/clients-icon.svg" alt="clients">
                        </div>
                    </button>
                </a>
            </div>
        </li>
        <li class="bottom-navbar__list-item flex justify-between">
            <div>
                <a href="#">
                    <button class="bottom-navbar__list-item-button">
                        <div class="bottom-navbar__list-item-button-icon">
                            <img src="images/icons/files-icon.svg" alt="files">
                        </div>
                    </button>
                </a>
            </div>
        </li>
        <li class="bottom-navbar__list-item flex justify-between">
            <div>
                <a href="#">
                    <button class="bottom-navbar__list-item-button">
                        <div class="bottom-navbar__list-item-button-icon">
                            <img src="images/icons/templates-icon.svg" alt="templates">
                        </div>
                    </button>
                </a>
            </div>
        </li>
        <li class="bottom-navbar__list-item flex justify-between">
            <div>
                <a href="#">
                    <button class="bottom-navbar__list-item-button">
                        <div class="bottom-navbar__list-item-button-icon">
                            <img src="images/icons/ai-settings-icon.svg" alt="ai-settings">
                        </div>
                    </button>
                </a>
            </div>
        </li>
        <li class="bottom-navbar__list-item flex justify-between">
            <div>
                <a href="/support-requests.html">
                    <button class="bottom-navbar__list-item-button bottom-navbar__list-item-button-active">
                        <div class="bottom-navbar__list-item-button-icon">
                            <img src="images/icons/audio-active-icon.svg" alt="audio">
                        </div>
                    </button>
                </a>
            </div>
        </li>
    </ul>
</nav>