@use "utils/variables" as *;
@use "layouts/grid" as *;
@use "layouts/header" as *;
@use "layouts/footer" as *;
@use "layouts/main" as *;
@use "layouts/auth" as *;
@use "pages/dashboard/dashboard" as *;
@use "pages/estimations/estimations" as *;
@use "components/button" as *;
@use "components/form" as *;
@use "components/table" as *;
@use "components/tabs" as *;
@use "components/mobile-hamburger" as *;
@use "components/adaptive-table" as *;
@use "components/popup-menu" as *;
@use "components/bottom-navbar" as *;
@use "components/contact-us-modal" as *;
@use "components/terms-and-privacy-modal" as *;
@use "components/breadcrumb" as *;
@use "components/chat" as *;
@use "components/block" as *;
@use "components/global" as *;
@use "components/span" as *;
@use "components/form-stepper" as *;
@use "pages/landing/landing" as *;
@use "pages/landing/professional-ai-estimation-generator" as *;
@use "pages/landing/how-it-works" as *;
@use "pages/landing/pricing" as *;
@use "pages/landing/process-in-action" as *;
@use "pages/landing/take-closer-look" as *;
@use "pages/landing/testimonials" as *;
@use "pages/blog/blog" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}